{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "Telnyx API",
    "description": "SIP trunking, SMS, MMS, Call Control and Telephony Data Services.",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "email": "support@telnyx.com"
    }
  },
  "servers": [
    {
      "url": "https://api.telnyx.com/v2",
      "description": "Version 2.0.0 of the Telnyx API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Messaging Profiles",
      "description": "Messaging profiles"
    },
    {
      "name": "Phone Numbers",
      "description": "Phone numbers"
    },
    {
      "name": "Numbers",
      "description": "Numbers"
    },
    {
      "name": "Number Search",
      "description": "Number search"
    },
    {
      "name": "Number Reservations",
      "description": "Number reservations"
    },
    {
      "name": "Messages",
      "description": "Messages"
    },
    {
      "name": "Sender IDs",
      "description": "Alphanumeric sender ids"
    },
    {
      "name": "Short Codes",
      "description": "Messaging short codes"
    },
    {
      "name": "Public Key",
      "description": "Public Key"
    },
    {
      "name": "Call Commands",
      "description": "Call control command operations"
    },
    {
      "name": "Conferences",
      "description": "Conference operations"
    },
    {
      "name": "Conference Commands",
      "description": "Conference command operations"
    },
    {
      "name": "Debugging",
      "description": "Call control debugging"
    }
  ],
  "paths": {
    "/number_orders": {
      "get": {
        "tags": [
          "Number Orders"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter[status]",
            "description": "Filter number orders by status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[created_at][gt]",
            "description": "Filter number orders later than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[created_at][lt]",
            "description": "Filter number orders earlier than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[phone_numbers]",
            "description": "Filter number orders having these phone numbers",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[customer_reference]",
            "description": "Filter number orders via the customer reference set",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[requirements_met]",
            "description": "Filter number orders by requirements met",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberOrdersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Number Orders"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberOrdersDetailedResponse"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberOrder"
              }
            }
          }
        },
        "callbacks": {
          "numberOrderStatusUpdate": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "$ref": "#/components/schemas/NumberOrder"
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return a HTTP 200, otherwise we will reattempt to deliver the webhook to the failover url.\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/number_orders/{number_order_id}": {
      "get": {
        "tags": [
          "Number Orders"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "number_order_id",
            "description": "The number order id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberOrdersDetailedResponse"
          }
        }
      },
      "patch": {
        "tags": [
          "Number Orders"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "number_order_id",
            "description": "The number order id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberOrdersDetailedResponse"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/number_reservations": {
      "get": {
        "description": "Gets a paginated list of Phone Number Reservations",
        "tags": [
          "Number Reservations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter[status]",
            "description": "Filter number reservations by status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[created_at][gt]",
            "description": "Filter number reservations later than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[created_at][lt]",
            "description": "Filter number reservations earlier than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[phone_numbers]",
            "description": "Filter number reservations having these phone numbers",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter[customer_reference]",
            "description": "Filter number reservations via the customer reference set",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberReservationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "post": {
        "description": "Creates a Phone Number Reservation for multiple numbers",
        "tags": [
          "Number Reservations"
        ],
        "responses": {
          "200": {
            "description": "Number reservation has been created successfully.",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/responses/NumberReservation"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberReservation"
              }
            }
          }
        }
      }
    },
    "/number_reservations/{number_reservation_id}": {
      "get": {
        "description": "Gets a single Phone Number Reservation",
        "tags": [
          "Number Reservations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "number_reservation_id",
            "description": "The number reservation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberReservationsDetailedResponse"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/number_reservations/{number_reservation_id}/actions/extend": {
      "post": {
        "description": "Extends reservation expiry time on all phone numbers",
        "tags": [
          "Number Reservations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "number_reservation_id",
            "description": "The number reservation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Number reservation was extended",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/NumberReservation"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        }
      }
    },
    "/messaging_profiles": {
      "get": {
        "summary": "List all messaging profiles",
        "operationId": "listMessagingProfiles",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListMessagingProfilesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a messaging profile",
        "operationId": "createMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "requestBody": {
          "description": "New Messaging Profile object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessagingProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "inboundMessage": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/InboundMessageEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.\n"
                  }
                }
              }
            }
          },
          "deliveryUpdate": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OutboundMessageEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messaging_profiles/{id}": {
      "get": {
        "summary": "Retrieve a messaging profile",
        "operationId": "retrieveMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a messaging profile",
        "operationId": "updateMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "requestBody": {
          "description": "New Messaging Profile object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagingProfileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a messaging profile",
        "operationId": "deleteMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_profiles/{id}/phone_numbers": {
      "get": {
        "summary": "List all phone numbers associated with a messaging profile",
        "operationId": "listMessagingProfilePhoneNumbers",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfilePhoneNumbersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_profiles/{id}/short_codes": {
      "get": {
        "summary": "List all short codes associated with a messaging profile",
        "operationId": "listMessagingProfileShortCodes",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfileShortCodesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_profiles/{id}/sender_ids": {
      "get": {
        "summary": "List all sender IDs associated with a messaging profile",
        "operationId": "listMessagingProfileSenderIds",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfileSenderIdsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_phone_numbers": {
      "get": {
        "summary": "List all messaging enabled phone numbers",
        "operationId": "listMessagingPhoneNumbers",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "filter[messaging_profile_id]",
            "in": "query",
            "description": "Filter by Messaging Profile ID. Use the string `null` for phone numbers without assigned profiles. A synonym for the `/messaging_profiles/{id}/phone_number` endpoint when querying about an extant profile.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_number]",
            "in": "query",
            "description": "A comma separated list of phone numbers to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListMessagingPhoneNumbersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_phone_numbers/{id}": {
      "get": {
        "summary": "Retrieve a messaging phone number",
        "operationId": "retrieveMessagingPhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingPhoneNumberId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingPhoneNumberResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a messaging phone number",
        "operationId": "updateMessagingPhoneNumber",
        "description": "Update the settings for a specific number. To unbind a number from, a profile, set the `messaging_profile_id` to `null` or an empty string.\n",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingPhoneNumberId"
          }
        ],
        "requestBody": {
          "description": "Messaging Phone Number Update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagingPhoneNumberUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateMessagingPhoneNumberResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_short_codes": {
      "get": {
        "summary": "List all short codes",
        "operationId": "listShortCodes",
        "tags": [
          "Short Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "filter[messaging_profile_id]",
            "in": "query",
            "description": "Filter by Messaging Profile ID. Use the string `null` for phone numbers without assigned profiles. A synonym for the `/messaging_profiles/{id}/short_codes` endpoint when querying about an extant profile.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListMessagingShortCodesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_short_codes/{id}": {
      "get": {
        "summary": "Retrieve a short code",
        "operationId": "retrieveShortCode",
        "tags": [
          "Short Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingShortCodeId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingShortCodeResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update short code",
        "operationId": "updateShortCode",
        "description": "Update the settings for a specific short code. To unbind a short code from a profile, set the `messaging_profile_id` to `null` or an empty string.\n",
        "tags": [
          "Short Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingShortCodeId"
          }
        ],
        "requestBody": {
          "description": "Messaging short code update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagingShortCodeUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateMessagingShortCodeResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_sender_ids": {
      "post": {
        "summary": "Create a sender ID",
        "operationId": "createSenderId",
        "tags": [
          "Sender IDs"
        ],
        "requestBody": {
          "description": "New alphanumeric sender ID",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessagingSenderId"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateMessagingSenderIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "get": {
        "summary": "List all sender IDs",
        "operationId": "listSenderIds",
        "tags": [
          "Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "filter[messaging_profile_id]",
            "in": "query",
            "description": "Filter by Messaging Profile ID. Use the string `null` for phone numbers without assigned profiles. A synonym for the `/messaging_profiles/{id}/sender_ids` endpoint when querying about an extant profile.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListMessagingSenderIdsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_sender_ids/{id}": {
      "get": {
        "summary": "Retrieve a sender ID",
        "operationId": "retrieveSenderId",
        "tags": [
          "Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SenderId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingSenderIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a sender ID",
        "operationId": "updateSenderId",
        "description": "Update the settings for a specific alphanumeric sender ID. To unbind an alphanumeric sender ID from a profile, set the `messaging_profile_id` to `null` or an empty string.\n",
        "tags": [
          "Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SenderId"
          }
        ],
        "requestBody": {
          "description": "Alphanumeric sender ID update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagingSenderIdUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateMessagingSenderIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a sender ID",
        "operationId": "deleteSenderId",
        "description": "Delete a specific alphanumeric sender ID.\n",
        "tags": [
          "Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SenderId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteMessagingSenderIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messages": {
      "post": {
        "summary": "Send a message",
        "operationId": "createMessage",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "description": "Message payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "deliveryUpdate": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OutboundMessage"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL.\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "summary": "Retrieve a message",
        "operationId": "retrieveMessage",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the message",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/available_phone_numbers": {
      "get": {
        "summary": "List available phone numbers",
        "operationId": "listAvailablePhoneNumbers",
        "tags": [
          "Number Search"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "object",
              "properties": {
                "phone_number": {
                  "type": "object",
                  "properties": {
                    "contains": {
                      "type": "string"
                    },
                    "ends_with": {
                      "type": "string"
                    },
                    "starts_with": {
                      "type": "string"
                    }
                  }
                },
                "locality": {
                  "type": "string"
                },
                "administrative_area": {
                  "type": "string"
                },
                "country_code": {
                  "type": "string"
                },
                "national_destination_code": {
                  "type": "string"
                },
                "rate_center": {
                  "type": "string"
                },
                "number_type": {
                  "type": "string",
                  "enum": [
                    "toll-free",
                    "national",
                    "mobile",
                    "local"
                  ]
                },
                "limit": {
                  "type": "integer"
                },
                "best_effort": {
                  "type": "boolean"
                },
                "exclude_regulatory_requirements": {
                  "type": "boolean"
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "mms",
                      "voice",
                      "fax"
                    ]
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAvailablePhoneNumbersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/public_key": {
      "get": {
        "summary": "Retrieve public key",
        "operationId": "retrievePublicKey",
        "tags": [
          "Public Key"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PublicKeyResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/answer": {
      "post": {
        "summary": "Answer call",
        "description": "Answer an incoming call.\n\n\n**Expected Webhooks:**\n- [Call answered](/docs/v1/call-control/Call%20Webhooks#call-answered)\n",
        "operationId": "CallControlAnswer",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Answer call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/bridge": {
      "post": {
        "summary": "Bridge calls",
        "description": "Bridge two call control calls.\n\n\n**Expected Webhooks:**\n- [Call bridged](/docs/v1/call-control/Call%20Webhooks#call-bridged) for Leg A\n- [Call bridged](/docs/v1/call-control/Call%20Webhooks#call-bridged) for Leg B\n",
        "operationId": "CallControlBridge",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Bridge call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BridgeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/fork_start": {
      "post": {
        "summary": "Forking start",
        "description": "Call forking allows you to stream the media from a call to a specific target in realtime. \nThis stream can be used to enable realtime audio analysis in support of a \nvariety of use cases, including fraud detection, or the creation of AI-generated audio responses. \nRequests must specify either the \"target\" attribute or the \"rx\" and \"tx\" attributes.\n\n**Expected Webhooks:**\n\nThere are currently no webhooks associated with the Forking start command.\n\n\n**Simple Telnyx RTP Encapsulation Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when the \"rx\" and \"tx\"\nparameters have been specified; it only applies when media is forked\nusing the \"target\" attribute.*\n\nIf the destination for forked media is specified using the \"target\"\nattribute, the RTP will be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header to the RTP payload in each packet. The STREP\nheader includes the Call Control `call_leg_id` for stream\nidentification, along with bits that represent the direction (inbound or\noutbound) of the media. This 24-byte header sits between the UDP header\nand the RTP header.\n\nThe STREP header makes it possible to fork RTP for multiple calls (or\ntwo RTP streams for the same call) to the same IP:port, where the\nstreams can be demultiplexed by your application using the information\nin the header. Of course, it's still possible to ignore this header\ncompletely, for example, if sending forked media for different calls to\ndifferent ports or IP addresses. In this case, simply strip 24 bytes\n(or use the second byte to find the header length) from the received UDP\npayload to get the RTP (RTP header and payload).\n\n```\nSTREP Specification\n\n  0                   1                   2                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |               The call_leg_id                                 |\n |                   from Call Control                           |\n |                       (128 bits / 16 bytes)                   |\n |                           (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\n 11\n   Static bits 11, always set to 11, so that we humans can easily\n   visually distinguish forked media from RTP (10) and T.38 media (usually 00)\n   and SIP (which begins with a capital letter, so begins with bits 01)\n   This is a magic number.\n\n Version\n   Four bits to indicate the version number of the protocol, starting at 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0 represents the A (first) leg of the call.\n   1 represents the B (second) leg of the call.\n\n D\n   One bit to represent the direction of this RTP stream.\n   0 represents media received by Telnyx.\n   1 represents media transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header in bytes.\n   Note that this value does not include the length of the payload. The total\n   size of the RTP can be calculated by subtracting the HeaderLen from the UDP\n   length (minus 8 for the UDP header).\n   In version 1, this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future use and to make sure that the header is a multiple of 32 bits\n\n Call Leg ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id from Call Control.\n```\n",
        "operationId": "CallControlForkStart",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Fork media request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartForkingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/fork_stop": {
      "post": {
        "summary": "Forking stop",
        "description": "Stop forking a call.\n\n**Expected Webhooks:**\n\nThere are currently no webhooks associated with the Forking start command.\n",
        "operationId": "CallControlForkStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Stop forking media request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopForkingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/gather_using_audio": {
      "post": {
        "summary": "Gather using audio",
        "description": "The gather using audio command enables you to build interactive menus by playing back an audio file on the call until the required DTMF signals are gathered.\nYou can pass a list of valid digits along with an 'invalid_audio_url', which will be played back at the beginning of each prompt.\nPlayback will be interrupted when a DTMF signal is received.\n\n**Expected Webhooks:**\n- [Playback started](/docs/v1/call-control/Call%20Webhooks#playback-started)\n- [Playback ended](/docs/v1/call-control/Call%20Webhooks#playback-ended)\n- [DTMF](/docs/v1/call-control/Call%20Webhooks#dtmf) (you may receive many of these webhooks)\n- [Gather ended](/docs/v1/call-control/Call%20Webhooks#gather-ended)\n",
        "operationId": "CallControlGatherUsingAudio",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Gather using audio request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatherUsingAudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/gather_using_speak": {
      "post": {
        "summary": "Gather using speak",
        "description": "The gather using speak command enables you to build interactive menus by converting text to speech and play it back on the call until the required DTMF signals are gathered.\nYou can pass a list of valid digits along with an 'invalid_payload', which will be played back at the beginning of each prompt.\nSpeech will be interrupted when a DTMF signal is received.\n\n**Expected Webhooks:**\n- [DTMF](/docs/v1/call-control/Call%20Webhooks#dtmf) (you may receive many of these webhooks)\n- [Gather ended](/docs/v1/call-control/Call%20Webhooks#gather-ended)\n",
        "operationId": "CallControlGatherUsingSpeak",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Gather using speak request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatherUsingSpeakRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/hangup": {
      "post": {
        "summary": "Hangup call",
        "description": "**Expected Webhooks:**\r\n- [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup)\r\n- [Recording saved](/docs/v1/call-control/Call%20Webhooks#recording-saved) (applies only if a call is being recorded)\r\n",
        "operationId": "CallControlHangup",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Hangup request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HangupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/reject": {
      "post": {
        "summary": "Reject call",
        "description": "Reject an incoming call\r\n\r\n**Expected Webhooks:**\r\n- [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup)\r\n",
        "operationId": "CallControlReject",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Reject request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/playback_start": {
      "post": {
        "summary": "Play audio URL",
        "description": "Play an audio file on the call. If multiple play audio commands are consecutively issued,\nthe audio files will be placed in a queue awaiting playback.\n\n\n*Notes:*\n* *when 'overlay' is enabled, 'loop' is limited to 1, and 'target_legs' is limited to 'self'.*\n* *A customer cannot Play Audio with overlay=true unless there is a Play Audio with overlay=false actively playing.*\n\n**Expected Webhooks:**\n- [Playback started](/docs/v1/call-control/Call%20Webhooks#playback-started)\n- [Playback ended](/docs/v1/call-control/Call%20Webhooks#playback-ended)\n",
        "operationId": "CallControlPlaybackStart",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Play audio URL request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayAudioUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/playback_stop": {
      "post": {
        "summary": "Stop audio playback",
        "description": "Stops audio being played on the call.\n\n**Expected Webhooks:**\n- Either [Playback ended](/docs/v1/call-control/Call%20Webhooks#playback-ended) or [Speak ended](/docs/v1/call-control/Call%20Webhooks#speak-ended)\n\n\n\n",
        "operationId": "CallControlPlaybackStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Stop audio playback request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaybackStopRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/record_start": {
      "post": {
        "summary": "Recording start",
        "description": "Start recording the call. Recording will stop on call hang-up, or can be initiated via the Stop Recording command.\n\n**Expected Webhooks:**\nThere are no webhooks associated with this Command.\n\n",
        "operationId": "CallControlRecordStart",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Start recording audio request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartRecordingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/record_stop": {
      "post": {
        "summary": "Recording stop",
        "description": "Stop recording the call.\n\n**Expected Webhooks:**\n- [Recording saved](/docs/v1/call-control/Call%20Webhooks#recording-saved)\n",
        "operationId": "CallControlRecordStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Answer call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopRecordingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/send_dtmf": {
      "post": {
        "summary": "Send DTMF",
        "description": "Sends DTMF tones from this leg. DTMF tones will be heard by the other end of the call.\n\n**Expected Webhooks:**\n\nThere are no webhooks associated with this command.\n",
        "operationId": "CallControlSendDTMF",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Send DTMF request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDTMFRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/speak": {
      "post": {
        "summary": "Speak text",
        "description": "Convert text to speech and play it back on the call.  If multiple speak text commands are issued consecutively, the audio files will be placed in a queue awaiting playback.\n\n**Expected Webhooks:**\n- [Speak started](/docs/v1/call-control/Call%20Webhooks#speak-started)\n- [Speak ended](/docs/v1/call-control/Call%20Webhooks#speak-ended)\n",
        "operationId": "CallControlSpeak",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Speak request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeakRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/transfer": {
      "post": {
        "summary": "Transfer call",
        "description": "Transfer a call to a new destination. If the transfer is unsuccessful, a 'call_hangup' webhook will be sent indicating that the transfer could not be completed. The original call will remain active and may be issued additional commands, potentially transfering the call to an alternate destination.\n\n**Expected Webhooks:**\n- [Call initiated](docs/v1/call-control/Call%20Webhooks#call-initiated)\n- [Call bridged](docs/v1/call-control/Call%20Webhooks#call-bridged) to Leg B\n- You will receive either a [Call answered](/docs/v1/call-control/Call%20Webhooks#call-answered) webhook or a [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup) webhook.\n",
        "operationId": "CallControlTransfer",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Transfer call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls": {
      "post": {
        "summary": "Dial",
        "description": "Dial a number from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.\n\n**Expected Webhooks:**\n\n- [Call initiated](/docs/v1/call-control/Call%20Webhooks#call-initiated)\n- You will receive either a [Call answered](/docs/v1/call-control/Call%20Webhooks#call-answered) webhook or a [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup) webhook.\n\n",
        "operationId": "CallControlDial",
        "tags": [
          "Call Commands"
        ],
        "requestBody": {
          "description": "Dial request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}": {
      "get": {
        "summary": "Retrieve call status",
        "description": "Returns the status of a call.",
        "operationId": "RetrieveCallStatus",
        "tags": [
          "Call Information"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/status": {
      "get": {
        "summary": "Retrieve the call status",
        "description": "Returns the status of a call.",
        "operationId": "CallControlStatus",
        "tags": [
          "Call Information"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/call_events": {
      "get": {
        "summary": "List all call events",
        "description": "Lists all events for a given call.\n\n**Note**: input either a `call_leg_id` or a `call_session_id`. If a request has both, it will only filter by `call_leg_id`.\n",
        "operationId": "CallControlDebuggingEventList",
        "tags": [
          "Debugging"
        ],
        "parameters": [
          {
            "name": "filter[call_leg_id]",
            "in": "query",
            "description": "The unique identifier of an individual call leg.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter[call_session_id]",
            "in": "query",
            "description": "The unique identifier of the call control session. A session may include multiple call leg events.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCallEventsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences": {
      "post": {
        "summary": "Create Conference",
        "description": "Creates a conference from an existing call leg using a call_control_id and a conference name. Upon creating the conference, the call will be automatically bridged to the conference.",
        "operationId": "CreateConference",
        "tags": [
          "Conference Commands"
        ],
        "requestBody": {
          "description": "Create a conference",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateConferenceResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "get": {
        "description": "Lists conferences. Conferences are created on demand, and will expire after all participants have left the conference or after 4 hours regardless of the number of active participants.",
        "summary": "List all conferences",
        "operationId": "GetConferences",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "description": "If present, conferences will be filtered to those with a matching `name` attribute. Matching is case-sensitive",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListConferencesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences/{id}/actions/join": {
      "post": {
        "summary": "Join a conference",
        "description": "Joins an existing call_leg to a conference. Issue the Join Conference command with the conference ID in the path and the call_control_id of the leg you wish to join to the conference as an attribute.",
        "operationId": "JoinConference",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Unique identifier of the conference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New Messaging Profile object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConferenceCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "PaginationMeta": {
        "properties": {
          "total_pages": {
            "type": "integer",
            "example": 3
          },
          "total_results": {
            "type": "integer",
            "example": 55
          },
          "page_number": {
            "type": "integer",
            "example": 2
          },
          "page_size": {
            "type": "integer",
            "example": 25
          },
          "next_page_token": {
            "type": "string"
          }
        }
      },
      "NumberOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The id of the number order",
            "example": "12ade33a-21c0-473b-b055-b3c836e1c292"
          },
          "record_type": {
            "type": "string",
            "example": "number_order"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "phone_numbers_count": {
            "type": "integer",
            "description": "The count of phone numbers in the number order",
            "example": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "success",
              "failure"
            ],
            "description": "The status of the order."
          },
          "customer_reference": {
            "type": "string",
            "example": "MY REF 001",
            "description": "A customer reference string for customer look ups"
          },
          "connection_id": {
            "type": "string",
            "example": "442191469269222625",
            "description": "The connection id to set the number to upon acquiring the number"
          },
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid",
            "example": "730911e3-8488-40a8-a818-dc0a5df8bc03",
            "description": "The messaging profile id to set the number to upon acquiring the number"
          },
          "webhook_url": {
            "type": "string",
            "format": "url",
            "example": "https://webhook.test",
            "description": "A webhook url for number order status updates"
          },
          "webhook_failover_url": {
            "type": "string",
            "format": "url",
            "example": "https://webhook-failover.test",
            "description": "If above webhook url fails, this url will be used as a fail over"
          },
          "created_at": {
            "type": "string",
            "format": "datetime",
            "example": "2018-01-01T00:00:00.000000Z",
            "description": "A datetime string denoting when the number order was created"
          },
          "updated_at": {
            "type": "string",
            "format": "datetime",
            "example": "2018-01-01T00:00:00.000000Z",
            "description": "A datetime string for when the number order was updated"
          },
          "requirements_met": {
            "type": "boolean",
            "description": "True if all requirements are met for every phone number, false otherwise"
          }
        },
        "example": {
          "id": "12ade33a-21c0-473b-b055-b3c836e1c292",
          "record_type": "number_order",
          "phone_numbers_count": 1,
          "status": "pending",
          "customer_reference": "MY REF 001",
          "connection_id": "442191469269222625",
          "messaging_profile_id": "730911e3-8488-40a8-a818-dc0a5df8bc03",
          "webhook_url": "https://webhook.test",
          "webhook_failover_url": "https://webhook-failover.test",
          "created_at": "2018-01-01T00:00:00.000000Z",
          "updated_at": "2018-01-01T00:00:00.000000Z",
          "requirements_met": true
        }
      },
      "NumberOrderDetailed": {
        "type": "array",
        "$ref": "#/components/schemas/NumberOrder",
        "example": {
          "id": "12ade33a-21c0-473b-b055-b3c836e1c292",
          "record_type": "number_order",
          "phone_numbers_count": 1,
          "status": "pending",
          "customer_reference": "MY REF 001",
          "connection_id": "442191469269222625",
          "messaging_profile_id": "730911e3-8488-40a8-a818-dc0a5df8bc03",
          "webhook_url": "https://webhook.test",
          "webhook_failover_url": "https://webhook-failover.test",
          "created_at": "2018-01-01T00:00:00.000000Z",
          "updated_at": "2018-01-01T00:00:00.000000Z",
          "requirements_met": true,
          "phone_numbers": [
            {
              "regulatory_requirements": [],
              "requirements_met": true,
              "status": "success",
              "id": "621415a0-7035-42d1-bfba-0b16e43d79ed",
              "phone_number": "+13127000000",
              "record_type": "number_order_phone_number"
            },
            {
              "regulatory_requirements": [],
              "requirements_met": true,
              "status": "success",
              "id": "27be8dfc-7cc9-4541-a148-1b0185c4aa3f",
              "phone_number": "+13127000099",
              "record_type": "number_order_phone_number"
            }
          ]
        }
      },
      "NumberReservation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The id of the number reservation",
            "example": "12ade33a-21c0-473b-b055-b3c836e1c292"
          },
          "record_type": {
            "type": "string",
            "example": "phone_number_reservation"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservedPhoneNumber"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failure"
            ],
            "description": "The status of the entire reservation"
          },
          "customer_reference": {
            "type": "string",
            "example": "MY REF 001",
            "description": "A customer reference string for customer look ups"
          },
          "created_at": {
            "type": "string",
            "format": "datetime",
            "example": "2018-01-01T00:00:00.000000Z",
            "description": "A datetime string denoting when the numbers reservation was created"
          },
          "updated_at": {
            "type": "string",
            "format": "datetime",
            "example": "2018-01-01T00:00:00.000000Z",
            "description": "A datetime string for when the number reservation was updated"
          }
        },
        "example": {
          "status": "pending",
          "created_at": "2019-06-06T17:10:37.984311Z",
          "phone_numbers": [
            {
              "expired_at": "2019-06-04T17:10:37.887000Z",
              "status": "failure",
              "phone_number": "+13122076000",
              "expired": true,
              "updated_at": "2019-06-11T19:40:01.190425Z",
              "id": "4d731178-a0e1-4145-bddd-0265120123b8",
              "created_at": "2019-06-06T17:10:37.984311Z",
              "record_type": "reserved_phone_number"
            }
          ],
          "customer_reference": "CUSTOMER_REF_1",
          "updated_at": "2019-06-06T17:10:37.984311Z",
          "user_id": "1a8752a5-63e8-4c16-9655-d2c515f42aed",
          "id": "f7964e2b-a9f9-4eb6-ab16-e570ffc4bc83",
          "record_type": "number_reservation"
        }
      },
      "ReservedPhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "12ade33a-21c0-473b-b055-b3c836e1c292"
          },
          "record_type": {
            "type": "string",
            "example": "reserved_phone_number"
          },
          "phone_number": {
            "type": "string",
            "format": "e164_phone_number",
            "example": "+13125000000"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failure"
            ],
            "description": "The status of the phone number's reservation"
          },
          "created_at": {
            "type": "string",
            "format": "datetime",
            "example": "2018-01-01T00:00:00.000000Z",
            "description": "A datetime string denoting when the individual number reservation was created"
          },
          "updated_at": {
            "type": "string",
            "format": "datetime",
            "example": "2018-01-01T00:00:00.000000Z",
            "description": "A datetime string for when the the individual number reservation was updated"
          },
          "expired_at": {
            "type": "string",
            "format": "datetime",
            "example": "2018-01-01T00:00:00.000000Z",
            "description": "A datetime string for when the individual number reservation is going to expire"
          }
        }
      },
      "NumberReservationDetailed": {
        "type": "array",
        "$ref": "#/components/schemas/NumberReservation",
        "example": {
          "id": "122644a6-aa12-4832-b353-7a88e89722fd",
          "created_at": "2019-06-06T22:32:45.075437Z",
          "customer_reference": "CUSTOMER_REF_1",
          "updated_at": "2019-06-06T22:32:51.299616Z",
          "status": "success",
          "phone_numbers": [
            {
              "expired_at": "2019-06-11T22:32:45.056436Z",
              "id": "e39ba25a-1fb2-44e2-8b07-543853ac9c29",
              "created_at": "2019-06-06T22:32:45.075437Z",
              "updated_at": "2019-06-06T22:32:51.303978Z",
              "expired": false,
              "phone_number": "+13122708609",
              "status": "success",
              "record_type": "reserved_phone_number"
            }
          ],
          "user_id": "22083c08-4e1f-4e25-be08-3e0f51f581dc",
          "record_type": "number_reservation"
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "dc8e4d67-33a0-4cbb-af74-7b58f05bd494",
            "description": "The id of the number order phone number"
          },
          "record_type": {
            "type": "string",
            "example": "number_order_phone_number"
          },
          "phone_number": {
            "type": "string",
            "format": "e164_phone_number"
          },
          "regulatory_group_id": {
            "type": "string",
            "example": "dc8e4d67-33a0-4cbb-af74-7b58f05bd494"
          },
          "regulatory_requirements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumberRegulatoryRequirement"
            }
          },
          "requirements_met": {
            "type": "boolean",
            "description": "True if all requirements are met for a phone number, false otherwise."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "success",
              "failure"
            ],
            "description": "The status of the phone number in the order."
          }
        }
      },
      "NumberOrderDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "387d1e31-a218-4375-8151-103f2d5e2d2c",
            "description": "The id of the number order document"
          },
          "record_type": {
            "type": "string",
            "example": "number_order_document"
          },
          "file_id": {
            "type": "string",
            "example": "1e3c5822-0362-4702-8e46-5a129f0d3976",
            "description": "The id of the file to associate as a number order document."
          },
          "requirement_id": {
            "type": "string",
            "description": "unique id for a requirement."
          },
          "customer_reference": {
            "type": "string",
            "description": "human readable description of the file."
          },
          "requirement_type": {
            "type": "string",
            "enum": [
              "identification",
              "reg_form",
              "address_proof"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "datetime",
            "description": "A datetime string denoting when the number order document was uploaded"
          }
        }
      },
      "PhoneNumberRegulatoryRequirement": {
        "type": "object",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "phone_number_regulatory_requirement"
          },
          "requirement_id": {
            "type": "string",
            "format": "uuid",
            "example": "8ffb3622-7c6b-4ccc-b65f-7a3dc0099576",
            "description": "unique id for a requirement."
          },
          "field_value": {
            "type": "string",
            "description": "The value of the requirement, this could be an id to a resource or a string value."
          },
          "field_type": {
            "type": "string",
            "enum": [
              "string",
              "datetime",
              "address_id",
              "number_order_document_id"
            ],
            "example": "address_id"
          }
        }
      },
      "RegulatoryRequirement": {
        "type": "object",
        "properties": {
          "requirement_id": {
            "type": "string",
            "format": "uuid",
            "example": "8ffb3622-7c6b-4ccc-b65f-7a3dc0099576",
            "description": "unique id for a requirement."
          },
          "record_type": {
            "type": "string",
            "example": "regulatory_requirement"
          },
          "label": {
            "type": "string",
            "example": "Proof of Address"
          },
          "field_type": {
            "type": "string",
            "enum": [
              "string",
              "datetime",
              "address_id",
              "number_order_document_id"
            ],
            "example": "address_id"
          },
          "description": {
            "type": "string",
            "example": "A bill or whatever that is less than 6 months old."
          }
        }
      },
      "PhoneNumberRegulatoryGroup": {
        "type": "object",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "phone_number_regulatory_group"
          },
          "phone_number": {
            "type": "string"
          },
          "regulatory_group_id": {
            "type": "string",
            "format": "uuid",
            "example": "d70873cd-7c98-401a-81b6-b1ae08246995"
          },
          "regulatory_requirements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegulatoryRequirement"
            }
          }
        }
      },
      "RegulatoryRequirementCriteria": {
        "type": "object",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "phone_number_regulatory_requirement_criteria"
          },
          "criteria_type": {
            "type": "string",
            "enum": [
              "country",
              "phone_number_type"
            ]
          },
          "criteria_value": {
            "type": "string",
            "example": "AU"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "page_number": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_results": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "title"
        ],
        "properties": {
          "code": {
            "type": "string",
            "format": "int"
          },
          "title": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "source": {
            "type": "object",
            "properties": {
              "pointer": {
                "description": "JSON pointer (RFC6901) to the offending entity",
                "type": "string",
                "format": "json-pointer"
              },
              "parameter": {
                "description": "Indicates which query parameter caused the error",
                "type": "string"
              }
            }
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "Errors": {
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ShortCodeInfo": {
        "description": "This information is attached to messages that are sent from short-codes. It includes carrier information which can influence billing.",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "short_code_info_blob"
          },
          "om_carrier": {
            "type": "string"
          },
          "om_normalized_carrier": {
            "type": "string"
          }
        }
      },
      "AlphaSenderInfo": {
        "description": "This information is attached to messages that are sent from alphanumeric sender IDs.",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "alpha_sender_info_blob"
          },
          "hni": {
            "description": "HNI (Home Network Identity) of the recipient's phone.",
            "type": "string"
          }
        }
      },
      "NewMessagingProfile": {
        "properties": {
          "name": {
            "type": "string",
            "format": "string"
          },
          "resource_group_id": {
            "type": "string",
            "format": "uuid"
          },
          "webhook_url": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "default": null
          },
          "webhook_failover_url": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "default": null
          },
          "enabled": {
            "type": "boolean",
            "default": true
          },
          "simplify_characters": {
            "type": "boolean",
            "default": true
          },
          "webhook_api_version": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ],
            "default": "2"
          }
        }
      },
      "MessagingProfile": {
        "type": "object",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "messaging_profile"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "format": "string"
          },
          "resource_group_id": {
            "type": "string",
            "format": "uuid"
          },
          "webhook_url": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "webhook_failover_url": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "simplify_characters": {
            "type": "boolean"
          },
          "whitelisted_destinations": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "iso3166-alpha2"
            }
          },
          "webhook_api_version": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "example": {
          "record_type": "messaging_profile",
          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "organization_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "name": "Profile for Messages",
          "resource_group_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "webhook_url": null,
          "webhook_failover_url": null,
          "enabled": true,
          "simplify_characters": true,
          "whitelisted_destinations": [
            "US"
          ],
          "webhook_api_version": "2",
          "created_at": "2019-01-23T18:10:02.574Z",
          "updated_at": "2019-01-23T18:10:02.574Z"
        }
      },
      "MessagingProfileUpdate": {
        "properties": {
          "name": {
            "type": "string",
            "format": "string"
          },
          "resource_group_id": {
            "type": "string",
            "format": "uuid"
          },
          "webhook_url": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "webhook_failover_url": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "simplify_characters": {
            "type": "boolean"
          },
          "whitelisted_destinations": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "iso3166-alpha2"
            }
          },
          "webhook_api_version": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ]
          }
        }
      },
      "MessagingPhoneNumber": {
        "type": "object",
        "example": {
          "record_type": "messaging_phone_number",
          "phone_number": "+13115552368",
          "id": "+13115552368",
          "organization_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "messaging_profile_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "created_at": "2019-01-23T18:10:02.574Z",
          "updated_at": "2019-01-23T18:10:02.574Z"
        },
        "properties": {
          "record_type": {
            "type": "string",
            "example": "messaging_phone_number",
            "enum": [
              "messaging_phone_number"
            ]
          },
          "phone_number": {
            "type": "string",
            "format": "e164"
          },
          "id": {
            "type": "string"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessagingPhoneNumberUpdate": {
        "type": "object",
        "properties": {
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "MessagingShortCode": {
        "type": "object",
        "example": {
          "record_type": "messaging_short_code",
          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "short_code": "12345",
          "country_code": "US",
          "organization_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "messaging_profile_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "created_at": "2019-01-23T18:10:02.574Z",
          "updated_at": "2019-01-23T18:10:02.574Z"
        },
        "properties": {
          "record_type": {
            "type": "string",
            "example": "messaging_short_code",
            "enum": [
              "messaging_short_code"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "short_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string",
            "format": "iso3166-alpha2"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessagingShortCodeUpdate": {
        "type": "object",
        "properties": {
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "NewMessagingSenderId": {
        "type": "object",
        "properties": {
          "sender_id": {
            "type": "string",
            "format": "uuid"
          },
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "MessagingSenderId": {
        "type": "object",
        "example": {
          "record_type": "messaging_sender_id",
          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "sender_id": "TelnyxID",
          "organization_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "messaging_profile_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "approved": true,
          "created_at": "2019-01-23T18:10:02.574Z",
          "updated_at": "2019-01-23T18:10:02.574Z"
        },
        "properties": {
          "record_type": {
            "type": "string",
            "example": "messaging_sender_id",
            "enum": [
              "messaging_sender_id"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sender_id": {
            "type": "string"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid"
          },
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid"
          },
          "approved": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessagingSenderIdUpdate": {
        "type": "object",
        "properties": {
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "NewMessage": {
        "type": "object",
        "required": [
          "to"
        ],
        "properties": {
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid"
          },
          "from": {
            "type": "string",
            "format": "address"
          },
          "to": {
            "oneOf": [
              {
                "type": "string",
                "format": "address"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "address"
                }
              }
            ]
          },
          "text": {
            "type": "string"
          },
          "media_urls": {
            "type": "array",
            "description": "An array of media URLs. The total media size must be less than 1 MB.",
            "items": {
              "type": "string",
              "format": "url"
            }
          },
          "webhook_url": {
            "type": "string",
            "format": "url"
          },
          "webhook_failover_url": {
            "type": "string",
            "format": "url"
          },
          "use_profile_webhooks": {
            "type": "boolean",
            "description": "If the profile this number is associated with has webhooks, use them for delivery notifications. If webhooks are also specified on the message itself, they will be attempted first, then those on the profile.",
            "default": true
          },
          "validity_period_secs": {
            "type": "number",
            "description": "If the message is not pulled off the queue and sending attempted within this amount of time, sending will be aborted and the message will be marked as expired."
          },
          "ignore_wire_type": {
            "type": "boolean",
            "description": "Typically, if the LRN dip (US numbers only(?)) indicates that the phone number is a land-line, the request will be rejected. However, some landlines can receive SMS, so that behavior can be overridden by setting this value to `true`"
          }
        }
      },
      "MessageQueueInfo": {
        "type": "object",
        "properties": {
          "queue_lengths": {
            "type": "object",
            "description": "Approximate lengths of the user's queues",
            "properties": {
              "account": {
                "type": "integer"
              },
              "messaging_profile": {
                "type": "integer"
              },
              "phone_number": {
                "type": "integer"
              }
            }
          }
        }
      },
      "OutboundMessage": {
        "type": "object",
        "properties": {
          "record_type": {
            "type": "string",
            "example": "message"
          },
          "direction": {
            "type": "string",
            "example": "outbound"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "sms",
              "mms"
            ]
          },
          "from": {
            "type": "string",
            "format": "address"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "format": "address"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "queued",
                    "sending",
                    "sent",
                    "delivered",
                    "sending_failed",
                    "delivery_failed",
                    "delivery_unconfirmed"
                  ]
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "text": {
            "type": "string"
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "url"
                },
                "content_type": {
                  "type": "string",
                  "format": "mime-type",
                  "nullable": true
                }
              }
            }
          },
          "webhook_url": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "webhook_failover_url": {
            "type": "string",
            "format": "url",
            "nullable": true
          },
          "use_profile_webhooks": {
            "type": "boolean",
            "default": false
          },
          "cost": {
            "type": "object",
            "nullable": true,
            "properties": {
              "amount": {
                "type": "string",
                "format": "decimal"
              },
              "currency": {
                "type": "string",
                "format": "iso4217"
              }
            }
          },
          "parts": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "valid_until": {
            "type": "string",
            "description": "Message must be out of the queue by this time or else it will be discarded and marked as 'sending_failed'. Once the message moves out of the queue, this field will be nulled",
            "format": "date-time",
            "nullable": true
          },
          "info_blob_fieldname": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ShortCodeInfo"
              },
              {
                "$ref": "#/components/schemas/AlphaSenderInfo"
              }
            ]
          },
          "errors": {
            "type": "array",
            "description": "These errors may point at addressees when referring to unsuccessful/unconfirmed delivery statuses.",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "carrier": {
            "type": "string",
            "description": "The carrier of the receiver.",
            "nullable": true
          },
          "line_type": {
            "type": "string",
            "description": "The line-type of the receiver.",
            "enum": [
              "Wireline",
              "Wireless",
              "VoWiFi",
              "VoIP",
              "Pre-Paid Wireless"
            ],
            "nullable": true
          }
        },
        "example": {
          "record_type": "message",
          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "direction": "outbound",
          "type": "sms",
          "from": "+13115554343",
          "to": [
            {
              "address": "+13115554343",
              "status": "queued",
              "updated_at": "2019-01-23T18:10:02.574Z"
            }
          ],
          "text": "Hello, World!",
          "webhook_url": "https://www.example.com/hooks",
          "webhook_failover_url": "https://www.example.com/callbacks",
          "use_profile_webhooks": false,
          "cost": {
            "amount": "1.23",
            "currency": "USD"
          },
          "parts": 1,
          "created_at": "2019-01-23T18:10:02.574Z",
          "updated_at": "2019-01-23T18:10:02.574Z",
          "valid_until": "2019-01-23T18:10:02.574Z",
          "errors": [],
          "carrier": "Verizon",
          "line_type": "Wireless"
        }
      },
      "OutboundMessageEvent": {
        "properties": {
          "record_type": {
            "type": "string",
            "example": "event"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "event_type": {
            "type": "string",
            "example": "message.delivery_update"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "payload": {
            "$ref": "#/components/schemas/OutboundMessage"
          }
        }
      },
      "InboundMessage": {
        "properties": {
          "record_type": {
            "type": "string",
            "example": "message_inbound"
          },
          "direction": {
            "type": "string",
            "example": "inbound"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "sms",
              "mms"
            ]
          },
          "messaging_profile_id": {
            "type": "string",
            "format": "uuid"
          },
[...]
