{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "Telnyx API",
    "description": "SIP trunking, SMS, MMS, Call Control and Telephony Data Services.",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "email": "support@telnyx.com"
    }
  },
  "servers": [
    {
      "url": "https://api.telnyx.com/v2",
      "description": "Version 2.0.0 of the Telnyx API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Wireless",
      "description": "Wireless operations"
    },
    {
      "name": "SIM Cards",
      "description": "SIM Cards operations"
    },
    {
      "name": "Reporting",
      "description": "Wireless reporting operations"
    },
    {
      "name": "Addresses",
      "description": "Address operations"
    },
    {
      "name": "Number Search",
      "description": "Number search"
    },
    {
      "name": "Number Reservations",
      "description": "Number reservations"
    },
    {
      "name": "Number Orders",
      "description": "Number orders"
    },
    {
      "name": "Number Order Regulatory Requirements",
      "description": "Number order regulatory requirements"
    },
    {
      "name": "Number Order Documents",
      "description": "Number order documents"
    },
    {
      "name": "Number Configurations",
      "description": "Configure your phone numbers"
    },
    {
      "name": "Billing Groups",
      "description": "Billing groups operations"
    },
    {
      "name": "Connections",
      "description": "Connections operations"
    },
    {
      "name": "IP Connections",
      "description": "IP connection operations"
    },
    {
      "name": "Credential Connections",
      "description": "Credential connection operations"
    },
    {
      "name": "IPs",
      "description": "IP operations"
    },
    {
      "name": "FQDN Connections",
      "description": "FQDN connection operations"
    },
    {
      "name": "FQDNs",
      "description": "FQDN operations"
    },
    {
      "name": "Call Control Applications",
      "description": "Call Control applications operations"
    },
    {
      "name": "Call Commands",
      "description": "Call control command operations"
    },
    {
      "name": "Conferences",
      "description": "Conference operations"
    },
    {
      "name": "Conference Commands",
      "description": "Conference command operations"
    },
    {
      "name": "Debugging",
      "description": "Call control debugging"
    },
    {
      "name": "Call Information",
      "description": "Call information"
    },
    {
      "name": "Messaging Profiles",
      "description": "Messaging profiles"
    },
    {
      "name": "Messages",
      "description": "Messages"
    },
    {
      "name": "Messaging URL Domains",
      "description": "Messaging URL Domains"
    },
    {
      "name": "Short Codes",
      "description": "Short codes"
    },
    {
      "name": "Phone Numbers",
      "description": "Phone numbers"
    },
    {
      "name": "Outbound Voice Profiles",
      "description": "Outbound voice profiles operations"
    },
    {
      "name": "Inbound Channels",
      "description": "Inbound channels operations"
    },
    {
      "name": "Number Portout",
      "description": "Number portout operations"
    }
  ],
  "paths": {
    "/actions/register/sim_cards": {
      "post": {
        "summary": "Register SIM cards",
        "description": "Register the SIM cards associated with the provided registration codes to the current user's account.<br/><br/>\nIf <code>sim_card_group_id</code> is provided, the SIM cards will be associated with that group. Otherwise, the default group for the current user, which is associated with the default free data plan, will be used.<br/><br/>\n",
        "operationId": "SimCardRegister",
        "tags": [
          "SIM Cards"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identifies the resource.",
                            "readOnly": true,
                            "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
                          },
                          "record_type": {
                            "type": "string",
                            "description": "Identifies the type of the resource.",
                            "readOnly": true,
                            "example": "sample_record_type"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "ISO 8601 formatted date-time indicating when the resource was created.",
                            "readOnly": true,
                            "example": "2018-02-02T22:25:27.521Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "ISO 8601 formatted date-time indicating when the resource was updated.",
                            "readOnly": true,
                            "example": "2018-02-02T22:25:27.521Z"
                          }
                        }
                      },
                      {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Identifies the resource.",
                                "readOnly": true,
                                "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
                              },
                              "record_type": {
                                "type": "string",
                                "description": "Identifies the type of the resource.",
                                "readOnly": true,
                                "example": "sample_record_type"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "ISO 8601 formatted date-time indicating when the resource was created.",
                                "readOnly": true,
                                "example": "2018-02-02T22:25:27.521Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "ISO 8601 formatted date-time indicating when the resource was updated.",
                                "readOnly": true,
                                "example": "2018-02-02T22:25:27.521Z"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "title": "SIMCard",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "activating",
                                  "active",
                                  "inactivating",
                                  "inactive",
                                  "data_limit_exceeded"
                                ],
                                "description": "The current status of the SIM card. It will be one of the following: <br/>\n<ul>\n  <li><code>activating</code> - the card is being activated</li>\n  <li><code>active</code> - the card is active and ready for use</li>\n  <li><code>inactivating</code> - the card is being inactivated</li>\n  <li><code>inactive</code> - the card has been inactivated and cannot be used</li>\n  <li><code>data_limit_exceeded</code> - the card has exceeded its data consumption limit</li>\n</ul>\nTransitioning between the active and inactive states may take a period of time.\n",
                                "readOnly": true,
                                "example": "active"
                              },
                              "iccid": {
                                "type": "string",
                                "description": "The ICCID is the identifier of the specific SIM card/chip. Each SIM is internationally identified by its integrated circuit card identifier (ICCID). ICCIDs are stored in the SIM card's memory and are also engraved or printed on the SIM card body during a process called personalization.\n",
                                "readOnly": true,
                                "example": "89310410106543789301"
                              },
                              "imsi": {
                                "type": "string",
                                "description": "SIM cards are identified on their individual operator networks by a unique International Mobile Subscriber Identity (IMSI). <br/>\nMobile network operators connect mobile phone calls and communicate with their market SIM cards using their IMSIs. The IMSI is stored in the Subscriber  Identity Module (SIM) inside the device and is sent by the device to the appropriate network. It is used to acquire the details of the device in the Home  Location Register (HLR) or the Visitor Location Register (VLR).\n",
                                "readOnly": true,
                                "example": "081932214823362973"
                              },
                              "msisdn": {
                                "type": "string",
                                "description": "Mobile Station International Subscriber Directory Number (MSISDN) is a number used to identify a mobile phone number internationally. <br/>\nMSISDN is defined by the E.164 numbering plan. It includes a country code and a National Destination Code which identifies the subscriber's operator.\n",
                                "readOnly": true,
                                "example": "+13109976224"
                              },
                              "sim_card_group_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The group SIMCardGroup identification. This attribute can be <code>null</code> when it's present in an associated resource.",
                                "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
                              },
                              "tags": {
                                "type": "array",
                                "description": "Searchable tags associated with the SIM card",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "personal",
                                  "customers",
                                  "active-customers"
                                ]
                              }
                            }
                          }
                        ],
                        "example": {
                          "id": "6a09cdc3-8948-47f0-aa62-74ac943d6c58",
                          "record_type": "sim_card",
                          "status": "active",
                          "iccid": "89310410106543789301",
                          "imsi": "081932214823362973",
                          "msisdn": "+13109976224",
                          "sim_card_group_id": "6a09cdc3-8948-47f0-aa62-74ac943d6c58",
                          "tags": [
                            "recent"
                          ],
                          "created_at": "2018-02-02T22:25:27.521Z",
                          "updated_at": "2018-02-02T22:2520:27.521Z"
                        }
                      },
                      {
                        "type": "object",
                        "title": "SIMCard",
                        "properties": {
                          "ipv4": {
                            "type": "string",
                            "description": "The SIM's address in the currently connected network. This IPv4 address is usually obtained dynamically, so it may vary according to the location or new connections.\n",
                            "readOnly": true,
                            "example": "192.168.0.0"
                          },
                          "ipv6": {
                            "type": "string",
                            "description": "The SIM's address in the currently connected network. This IPv6 address is usually obtained dynamically, so it may vary according to the location or new connections.\n",
                            "readOnly": true,
                            "example": "2001:cdba:0000:0000:0000:0000:3257:9652"
                          }
                        }
                      }
                    ],
                    "example": {
                      "id": "6a09cdc3-8948-47f0-aa62-74ac943d6c58",
                      "record_type": "6a09cdc3-8948-47f0-aa62-74ac943d6c58",
                      "status": "active",
                      "iccid": "89310410106543789301",
                      "imsi": "081932214823362973",
                      "msisdn": "+13109976224",
                      "ipv4": "192.168.0.0",
                      "ipv6": "2001:cdba:0000:0000:0000:0000:3257:9652",
                      "sim_card_group_id": "6a09cdc3-8948-47f0-aa62-74ac943d6c58",
                      "tags": [
                        "personal"
                      ],
                      "created_at": "2018-02-02T22:25:27.521Z",
                      "updated_at": "2018-02-02T22:25:27.521Z"
                    }
                  },
                  {
                    "title": "SIMCardRegistration",
                    "type": "object",
                    "properties": {
                      "registration_codes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "0000000001",
                          "0000000002",
                          "0000000003"
                        ]
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Successfully registered SIM cards.",
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Identifies the resource.",
                                "readOnly": true,
                                "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
                              },
                              "record_type": {
                                "type": "string",
                                "description": "Identifies the type of the resource.",
                                "readOnly": true,
                                "example": "sample_record_type"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "ISO 8601 formatted date-time indicating when the resource was created.",
                                "readOnly": true,
                                "example": "2018-02-02T22:25:27.521Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "ISO 8601 formatted date-time indicating when the resource was updated.",
                                "readOnly": true,
                                "example": "2018-02-02T22:25:27.521Z"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "title": "SIMCard",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "activating",
                                  "active",
                                  "inactivating",
                                  "inactive",
                                  "data_limit_exceeded"
                                ],
                                "description": "The current status of the SIM card. It will be one of the following: <br/>\n<ul>\n  <li><code>activating</code> - the card is being activated</li>\n  <li><code>active</code> - the card is active and ready for use</li>\n  <li><code>inactivating</code> - the card is being inactivated</li>\n  <li><code>inactive</code> - the card has been inactivated and cannot be used</li>\n  <li><code>data_limit_exceeded</code> - the card has exceeded its data consumption limit</li>\n</ul>\nTransitioning between the active and inactive states may take a period of time.\n",
                                "readOnly": true,
                                "example": "active"
                              },
                              "iccid": {
                                "type": "string",
                                "description": "The ICCID is the identifier of the specific SIM card/chip. Each SIM is internationally identified by its integrated circuit card identifier (ICCID). ICCIDs are stored in the SIM card's memory and are also engraved or printed on the SIM card body during a process called personalization.\n",
                                "readOnly": true,
                                "example": "89310410106543789301"
                              },
                              "imsi": {
                                "type": "string",
                                "description": "SIM cards are identified on their individual operator networks by a unique International Mobile Subscriber Identity (IMSI). <br/>\nMobile network operators connect mobile phone calls and communicate with their market SIM cards using their IMSIs. The IMSI is stored in the Subscriber  Identity Module (SIM) inside the device and is sent by the device to the appropriate network. It is used to acquire the details of the device in the Home  Location Register (HLR) or the Visitor Location Register (VLR).\n",
                                "readOnly": true,
                                "example": "081932214823362973"
                              },
                              "msisdn": {
                                "type": "string",
                                "description": "Mobile Station International Subscriber Directory Number (MSISDN) is a number used to identify a mobile phone number internationally. <br/>\nMSISDN is defined by the E.164 numbering plan. It includes a country code and a National Destination Code which identifies the subscriber's operator.\n",
                                "readOnly": true,
                                "example": "+13109976224"
                              },
                              "sim_card_group_id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The group SIMCardGroup identification. This attribute can be <code>null</code> when it's present in an associated resource.",
                                "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
                              },
                              "tags": {
                                "type": "array",
                                "description": "Searchable tags associated with the SIM card",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "personal",
                                  "customers",
                                  "active-customers"
                                ]
                              }
                            }
                          }
                        ],
                        "example": {
                          "id": "6a09cdc3-8948-47f0-aa62-74ac943d6c58",
                          "record_type": "sim_card",
                          "status": "active",
                          "iccid": "89310410106543789301",
                          "imsi": "081932214823362973",
                          "msisdn": "+13109976224",
                          "sim_card_group_id": "6a09cdc3-8948-47f0-aa62-74ac943d6c58",
                          "tags": [
                            "recent"
                          ],
                          "created_at": "2018-02-02T22:25:27.521Z",
                          "updated_at": "2018-02-02T22:2520:27.521Z"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "required": [
                          "code",
                          "title"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "format": "int"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "description": "JSON pointer (RFC6901) to the offending entity.",
                                "type": "string",
                                "format": "json-pointer"
                              },
                              "parameter": {
                                "description": "Indicates which query parameter caused the error.",
                                "type": "string"
                              }
                            }
                          },
                          "meta": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "description": "Returns a list of your addresses.",
        "summary": "List all addresses",
        "operationId": "findAddresss",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The page number to load",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The size of the page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 20
            }
          },
          {
            "name": "filter[street_address][contains]",
            "in": "query",
            "required": false,
            "description": "If present, addresses with <code>street_address</code> containing the given value will be returned. Matching is not case-sensitive. Requires at least three characters.",
            "schema": {
              "type": "string",
              "default": "null"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Specifies the sort order for results. By default sorting direction is ascending. To have the results sorterd in descending order add the <code> -</code> prefix.<br/><br/>\nThat is: <ul>\n  <li>\n    <code>street_address</code>: sorts the result by the\n    <code>street_address</code> field in ascending order.\n  </li>\n\n  <li>\n    <code>-street_address</code>: sorts the result by the\n    <code>street_address</code> field in descending order.\n  </li>\n</ul> <br/> If not given, results are sorted by <code>created_at</code> in descending order.",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "first_name",
                "last_name",
                "business_name",
                "street_address"
              ],
              "example": "street_address",
              "default": "created_at"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Address",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "int64",
                            "description": "Uniquely identifies the address.",
                            "example": "1293384261075731499"
                          },
                          "record_type": {
                            "type": "string",
                            "description": "Identifies the type of the resource.",
                            "example": "address"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name associated with the address. An address must have either a first last name or a business name.",
                            "example": "Alfred"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name associated with the address. An address must have either a first last name or a business name.",
                            "example": "Foster"
                          },
                          "business_name": {
                            "type": "string",
                            "description": "The business name associated with the address. An address must have either a first last name or a business name.",
                            "example": "Toy-O'Kon"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "The phone number associated with the address.",
                            "example": "+12125559000"
                          },
                          "street_address": {
                            "type": "string",
                            "description": "The primary street address information about the address.",
                            "example": "457 Flatley Stream"
                          },
                          "extended_address": {
                            "type": "string",
                            "description": "Additional street address information about the address such as, but not limited to, unit number or apartment number.",
                            "example": "Suite 123"
                          },
                          "locality": {
                            "type": "string",
                            "description": "The locality of the address. For US addresses, this corresponds to the city of the address.",
                            "example": "Chicago"
                          },
                          "administrative_area": {
                            "type": "string",
                            "description": "The locality of the address. For US addresses, this corresponds to the state of the address.",
                            "example": "IL"
                          },
                          "neighborhood": {
                            "type": "string",
                            "description": "The neighborhood of the address. This field is not used for addresses in the US but is used for some international addresses.",
                            "example": "Ciudad de los deportes"
                          },
                          "borough": {
                            "type": "string",
                            "description": "The borough of the address. This field is not used for addresses in the US but is used for some international addresses.",
                            "example": "Guadalajara"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal code of the address.",
                            "example": "02904"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "The two-character (ISO 3166-1 alpha-2) country code of the address.",
                            "example": "us"
                          },
                          "address_book": {
                            "type": "boolean",
                            "description": "Indicates whether or not the address should be considered part of your list of addresses that appear for regular use.",
                            "example": false,
                            "default": true
                          },
                          "created_at": {
                            "type": "string",
                            "description": "ISO 8601 formatted date indicating when the resource was created.",
                            "example": "2018-02-02T22:25:27.521Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "ISO 8601 formatted date indicating when the resource was updated.",
                            "example": "2018-02-02T22:25:27.521Z"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_pages": {
                          "type": "integer",
                          "example": 3
                        },
                        "total_results": {
                          "type": "integer",
                          "example": 55
                        },
                        "page_number": {
                          "type": "integer",
                          "example": 2
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 25
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "description": "Creates an address.",
        "summary": "Creates an address",
        "operationId": "CreateAddress",
        "tags": [
          "Addresses"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during address creation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "The first name associated with the address. An address must have either a first last name or a business name.",
                    "example": "Alfred"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name associated with the address. An address must have either a first last name or a business name.",
                    "example": "Foster"
                  },
                  "business_name": {
                    "type": "string",
                    "description": "The business name associated with the address. An address must have either a first last name or a business name.",
                    "example": "Toy-O'Kon"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "The phone number associated with the address.",
                    "example": "+12125559000"
                  },
                  "street_address": {
                    "type": "string",
                    "description": "The primary street address information about the address.",
                    "example": "457 Flatley Stream"
                  },
                  "extended_address": {
                    "type": "string",
                    "description": "Additional street address information about the address such as, but not limited to, unit number or apartment number.",
                    "example": "Suite 123"
                  },
                  "locality": {
                    "type": "string",
                    "description": "The locality of the address. For US addresses, this corresponds to the city of the address.",
                    "example": "Chicago"
                  },
                  "administrative_area": {
                    "type": "string",
                    "description": "The locality of the address. For US addresses, this corresponds to the state of the address.",
                    "example": "IL"
                  },
                  "neighborhood": {
                    "type": "string",
                    "description": "The neighborhood of the address. This field is not used for addresses in the US but is used for some international addresses.",
                    "example": "Ciudad de los deportes"
                  },
                  "borough": {
                    "type": "string",
                    "description": "The borough of the address. This field is not used for addresses in the US but is used for some international addresses.",
                    "example": "Guadalajara"
                  },
                  "postal_code": {
                    "type": "string",
                    "description": "The postal code of the address.",
                    "example": "02904"
                  },
                  "country_code": {
                    "type": "string",
                    "description": "The two-character (ISO 3166-1 alpha-2) country code of the address.",
                    "example": "us"
                  },
                  "address_book": {
                    "type": "boolean",
                    "description": "Indicates whether or not the address should be considered part of your list of addresses that appear for regular use.",
                    "example": false,
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "title": "Address",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "int64",
                          "description": "Uniquely identifies the address.",
                          "example": "1293384261075731499"
                        },
                        "record_type": {
                          "type": "string",
                          "description": "Identifies the type of the resource.",
                          "example": "address"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The first name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Alfred"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Foster"
                        },
                        "business_name": {
                          "type": "string",
                          "description": "The business name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Toy-O'Kon"
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "The phone number associated with the address.",
                          "example": "+12125559000"
                        },
                        "street_address": {
                          "type": "string",
                          "description": "The primary street address information about the address.",
                          "example": "457 Flatley Stream"
                        },
                        "extended_address": {
                          "type": "string",
                          "description": "Additional street address information about the address such as, but not limited to, unit number or apartment number.",
                          "example": "Suite 123"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The locality of the address. For US addresses, this corresponds to the city of the address.",
                          "example": "Chicago"
                        },
                        "administrative_area": {
                          "type": "string",
                          "description": "The locality of the address. For US addresses, this corresponds to the state of the address.",
                          "example": "IL"
                        },
                        "neighborhood": {
                          "type": "string",
                          "description": "The neighborhood of the address. This field is not used for addresses in the US but is used for some international addresses.",
                          "example": "Ciudad de los deportes"
                        },
                        "borough": {
                          "type": "string",
                          "description": "The borough of the address. This field is not used for addresses in the US but is used for some international addresses.",
                          "example": "Guadalajara"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code of the address.",
                          "example": "02904"
                        },
                        "country_code": {
                          "type": "string",
                          "description": "The two-character (ISO 3166-1 alpha-2) country code of the address.",
                          "example": "us"
                        },
                        "address_book": {
                          "type": "boolean",
                          "description": "Indicates whether or not the address should be considered part of your list of addresses that appear for regular use.",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "description": "ISO 8601 formatted date indicating when the resource was created.",
                          "example": "2018-02-02T22:25:27.521Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "ISO 8601 formatted date indicating when the resource was updated.",
                          "example": "2018-02-02T22:25:27.521Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bad request"
          }
        }
      }
    },
    "/addresses/{id}": {
      "delete": {
        "description": "Deletes an existing address.",
        "summary": "Deletes an address",
        "operationId": "DeleteAddress",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "address ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "title": "Address",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "int64",
                          "description": "Uniquely identifies the address.",
                          "example": "1293384261075731499"
                        },
                        "record_type": {
                          "type": "string",
                          "description": "Identifies the type of the resource.",
                          "example": "address"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The first name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Alfred"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Foster"
                        },
                        "business_name": {
                          "type": "string",
                          "description": "The business name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Toy-O'Kon"
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "The phone number associated with the address.",
                          "example": "+12125559000"
                        },
                        "street_address": {
                          "type": "string",
                          "description": "The primary street address information about the address.",
                          "example": "457 Flatley Stream"
                        },
                        "extended_address": {
                          "type": "string",
                          "description": "Additional street address information about the address such as, but not limited to, unit number or apartment number.",
                          "example": "Suite 123"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The locality of the address. For US addresses, this corresponds to the city of the address.",
                          "example": "Chicago"
                        },
                        "administrative_area": {
                          "type": "string",
                          "description": "The locality of the address. For US addresses, this corresponds to the state of the address.",
                          "example": "IL"
                        },
                        "neighborhood": {
                          "type": "string",
                          "description": "The neighborhood of the address. This field is not used for addresses in the US but is used for some international addresses.",
                          "example": "Ciudad de los deportes"
                        },
                        "borough": {
                          "type": "string",
                          "description": "The borough of the address. This field is not used for addresses in the US but is used for some international addresses.",
                          "example": "Guadalajara"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code of the address.",
                          "example": "02904"
                        },
                        "country_code": {
                          "type": "string",
                          "description": "The two-character (ISO 3166-1 alpha-2) country code of the address.",
                          "example": "us"
                        },
                        "address_book": {
                          "type": "boolean",
                          "description": "Indicates whether or not the address should be considered part of your list of addresses that appear for regular use.",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "description": "ISO 8601 formatted date indicating when the resource was created.",
                          "example": "2018-02-02T22:25:27.521Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "ISO 8601 formatted date indicating when the resource was updated.",
                          "example": "2018-02-02T22:25:27.521Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      },
      "get": {
        "description": "Retrieves the details of an existing address.",
        "summary": "Retrieve an address",
        "operationId": "getAddress",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "address ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "title": "Address",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "int64",
                          "description": "Uniquely identifies the address.",
                          "example": "1293384261075731499"
                        },
                        "record_type": {
                          "type": "string",
                          "description": "Identifies the type of the resource.",
                          "example": "address"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The first name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Alfred"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Foster"
                        },
                        "business_name": {
                          "type": "string",
                          "description": "The business name associated with the address. An address must have either a first last name or a business name.",
                          "example": "Toy-O'Kon"
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "The phone number associated with the address.",
                          "example": "+12125559000"
                        },
                        "street_address": {
                          "type": "string",
                          "description": "The primary street address information about the address.",
                          "example": "457 Flatley Stream"
                        },
                        "extended_address": {
                          "type": "string",
                          "description": "Additional street address information about the address such as, but not limited to, unit number or apartment number.",
                          "example": "Suite 123"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The locality of the address. For US addresses, this corresponds to the city of the address.",
                          "example": "Chicago"
                        },
                        "administrative_area": {
                          "type": "string",
                          "description": "The locality of the address. For US addresses, this corresponds to the state of the address.",
                          "example": "IL"
                        },
                        "neighborhood": {
                          "type": "string",
                          "description": "The neighborhood of the address. This field is not used for addresses in the US but is used for some international addresses.",
                          "example": "Ciudad de los deportes"
                        },
                        "borough": {
                          "type": "string",
                          "description": "The borough of the address. This field is not used for addresses in the US but is used for some international addresses.",
                          "example": "Guadalajara"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code of the address.",
                          "example": "02904"
                        },
                        "country_code": {
                          "type": "string",
                          "description": "The two-character (ISO 3166-1 alpha-2) country code of the address.",
                          "example": "us"
                        },
                        "address_book": {
                          "type": "boolean",
                          "description": "Indicates whether or not the address should be considered part of your list of addresses that appear for regular use.",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "description": "ISO 8601 formatted date indicating when the resource was created.",
                          "example": "2018-02-02T22:25:27.521Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "ISO 8601 formatted date indicating when the resource was updated.",
                          "example": "2018-02-02T22:25:27.521Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      }
    },
    "/available_phone_numbers": {
      "get": {
        "summary": "List available phone numbers",
        "operationId": "listAvailablePhoneNumbers",
        "tags": [
          "Number Search"
        ],
        "parameters": [
          {
            "name": "filter[phone_number][starts_with]",
            "in": "query",
            "description": "Filter numbers starting with a pattern",
            "schema": {
              "type": "string"
            },
            "examples": {
              "generic": {
                "value": "FOO",
                "summary": "Find numbers starting with the prefix 'FREE'"
              }
            }
          },
          {
            "name": "filter[phone_number][ends_with]",
            "in": "query",
            "description": "Filter numbers ending with a pattern",
            "schema": {
              "type": "string"
            },
            "examples": {
              "generic": {
                "value": "CALL",
                "summary": "Find numbers ending with the suffix 'CALL'"
              }
            }
          },
          {
            "name": "filter[phone_number][contains]",
            "in": "query",
            "description": "Filter numbers containing a pattern",
            "schema": {
              "type": "string"
            },
            "examples": {
              "generic": {
                "value": "TELNYX",
                "summary": "Find numbers that contain the word 'TELNYX' in any position"
              }
            }
          },
          {
            "name": "filter[locality]",
            "in": "query",
            "description": "Filter phone numbers by city",
            "schema": {
              "type": "string"
            },
            "examples": {
              "US": {
                "value": "Chicago"
              },
              "CA": {
                "value": "Toronto"
              },
              "AU": {
                "value": "Canberra"
              }
            }
          },
          {
            "name": "filter[administrative_area]",
            "in": "query",
            "description": "Filter phone numbers by US state/CA province",
            "schema": {
              "type": "string",
              "example": "IL"
            }
          },
          {
            "name": "filter[country_code]",
            "in": "query",
            "description": "Filter phone numbers by ISO 2 country code",
            "schema": {
              "type": "string",
              "example": "US"
            }
          },
          {
            "name": "filter[national_destination_code]",
            "in": "query",
            "description": "Filter by the national destination code of the number. This filter is only applicable to North American numbers",
            "schema": {
              "type": "string"
            },
            "examples": {
              "US": {
                "value": "312"
              },
              "CA": {
                "value": "437"
              },
              "AU": {
                "value": "0251"
              }
            }
          },
          {
            "name": "filter[rate_center]",
            "in": "query",
            "description": "Filter phone numbers by NANP rate center. This filter is only applicable to North American numbers",
            "schema": {
              "type": "string",
              "example": "CHICAGO HEIGHTS"
            }
          },
          {
            "name": "filter[number_type]",
            "in": "query",
            "description": "Filter phone numbers by number type",
            "schema": {
              "type": "string",
              "enum": [
                "toll-free",
                "national",
                "mobile",
                "local"
              ],
              "example": "local"
            }
          },
          {
            "name": "filter[features]",
            "in": "query",
            "description": "Filter if the phone number should be used for voice, fax, mms, sms, emergency",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sms",
                  "mms",
                  "voice",
                  "fax",
                  "emergency"
                ]
              },
              "example": "voice,sms"
            }
          },
          {
            "name": "filter[limit]",
            "in": "query",
            "description": "Limits the number of results",
            "schema": {
              "type": "integer",
              "example": 100
            }
          },
          {
            "name": "filter[best_effort]",
            "in": "query",
            "description": "Filter to determine if best effort results should be included.",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "filter[quickship]",
            "in": "query",
            "description": "Filter to exclude phone numbers that need additional time after to purchase to receive phone calls.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "filter[reservable]",
            "in": "query",
            "description": "Filter to exclude phone numbers that cannot be reserved before purchase.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "filter[exclude_regulatory_requirements]",
            "in": "query",
            "description": "Filter to determine if the phone number has regulatory requirements",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of phone numbers. This is not paginated. The limit filter can be used to control the amount of results returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "record_type": {
                            "type": "string",
                            "example": "available_phone_number",
                            "enum": [
                              "available_phone_number"
                            ]
                          },
                          "phone_number": {
                            "type": "string",
                            "example": "+19705555098"
                          },
                          "vanity_format": {
                            "type": "string"
                          },
                          "best_effort": {
                            "type": "boolean",
                            "description": "Specifies whether the phone number is an exact match based on the search criteria or not.",
                            "example": false
                          },
                          "quickship": {
                            "type": "boolean",
                            "description": "Specifies whether the phone number can receive calls immediately after purchase or not.",
                            "example": true
                          },
                          "reservable": {
                            "type": "boolean",
                            "description": "Specifies whether the phone number can be reserved before purchase or not.",
                            "example": true
                          },
                          "region_information": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "region_type": {
                                  "type": "string",
                                  "example": "country_code",
                                  "enum": [
                                    "country_code",
                                    "rate_center",
                                    "state",
                                    "location"
                                  ]
                                },
                                "region_name": {
                                  "type": "string",
                                  "example": "US"
                                }
                              },
                              "example": {
                                "region_type": "country_code",
                                "region_name": "US"
                              }
                            }
                          },
                          "cost_information": {
                            "type": "object",
                            "properties": {
                              "upfront_cost": {
                                "type": "string",
                                "example": "3.21"
                              },
                              "monthly_cost": {
                                "type": "string",
                                "example": "6.54"
                              },
                              "currency": {
                                "type": "string",
                                "description": "The ISO 4217 code for the currency",
                                "example": "USD"
                              }
                            },
                            "example": {
                              "upfront_cost": "3.21",
                              "monthly_cost": "6.54",
                              "currency": "USD"
                            }
                          },
                          "regulatory_requirements": {
                            "type": "array",
                            "items": {
                              "properties": {
                                "requirement_type": {
                                  "type": "string",
                                  "enum": [
                                    "end user proof of address",
                                    "entity identification",
                                    "end user address"
                                  ]
                                },
                                "label": {
                                  "type": "string",
                                  "example": "Proof of Address"
                                },
                                "field_type": {
                                  "type": "string",
                                  "enum": [
                                    "file upload",
                                    "text field",
                                    "address",
                                    "datetime"
                                  ]
                                },
                                "description": {
                                  "type": "string",
                                  "example": "Requirement for providing Proof of Address"
                                }
                              },
                              "example": {
                                "record_type": "regulatory_requirement",
                                "requirement_type": "end user proof of address",
                                "label": "Proof of Address",
                                "field_type": "address",
                                "description": "Requirement for providing Proof of Address"
                              }
                            }
                          }
                        },
                        "example": {
                          "record_type": "available_phone_number",
                          "phone_number": "+19705555098",
                          "vanity_format": "",
                          "best_effort": false,
                          "quickship": true,
                          "reservable": true,
                          "region_information": [
                            {
                              "region_type": "country_code",
                              "region_name": "US"
                            }
                          ],
                          "cost_information": {
                            "upfront_cost": "3.21",
                            "monthly_cost": "6.54",
                            "currency": "USD"
                          },
                          "regulatory_requirements": [
                            {
                              "requirement_type": "end user proof of address",
                              "label": "Proof of Address",
                              "field_type": "address",
                              "description": "Requirement for providing Proof of Address"
                            }
                          ]
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "example": {
                        "total_results": 100,
                        "best_effort_results": 50
                      },
                      "properties": {
                        "total_results": {
                          "type": "integer",
                          "example": 1
                        },
                        "best_effort_results": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "required": [
                          "code",
                          "title"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "format": "int",
                            "example": "10015"
                          },
                          "title": {
                            "type": "string",
                            "example": "Invalid sorting value"
                          },
                          "detail": {
                            "type": "string",
                            "example": "The value provided for sorting is not valid. Check the value used and try again."
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "description": "JSON pointer (RFC6901) to the offending entity.",
                                "type": "string",
                                "format": "json-pointer",
                                "example": "/sort"
                              },
                              "parameter": {
                                "description": "Indicates which query parameter caused the error.",
                                "type": "string"
                              }
                            }
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "URL with additional information on the error.",
                                "example": "https://developers.telnyx.com/docs/overview/errors/10015"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing_groups": {
      "get": {
        "summary": "List all billing groups",
        "operationId": "listBillingGroups",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "description": "The page number to load",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The size of the page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated array of billing groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "record_type": {
                            "type": "string",
                            "example": "billing_group",
                            "enum": [
                              "billing_group"
                            ],
                            "description": "Identifies the type of the resource."
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identifies the type of resource.",
                            "example": "f5586561-8ff0-4291-a0ac-84fe544797bd"
                          },
                          "organization_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Identifies the organization that owns the resource.",
                            "example": "f1486bae-f067-460c-ad43-73a92848f902"
                          },
                          "name": {
                            "type": "string",
                            "format": "string",
                            "description": "A user-specified name for the billing group",
                            "example": "My billing group name"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 formatted date indicating when the resource was created.",
                            "example": "2019-10-15T10:07:15.527Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 formatted date indicating when the resource was updated.",
                            "example": "2019-10-15T10:07:15.527Z"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 formatted date indicating when the resource was removed.",
                            "example": null
                          }
                        },
                        "example": {
                          "record_type": "billing_group",
                          "id": "f5586561-8ff0-4291-a0ac-84fe544797bd",
                          "organization_id": "f1486bae-f067-460c-ad43-73a92848f902",
                          "name": "My billing group name",
                          "created_at": "2019-10-15T10:07:15.527Z",
                          "updated_at": "2019-10-15T10:07:15.527Z",
                          "deleted_at": null
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_pages": {
                          "type": "integer",
                          "example": 3
                        },
                        "total_results": {
                          "type": "integer",
                          "example": 55
                        },
                        "page_number": {
                          "type": "integer",
                          "example": 2
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 25
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "required": [
                          "code",
                          "title"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "format": "int"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "description": "JSON pointer (RFC6901) to the offending entity.",
                                "type": "string",
                                "format": "json-pointer"
                              },
                              "parameter": {
                                "description": "Indicates which query parameter caused the error.",
                                "type": "string"
                              }
                            }
                          },
                          "meta": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a billing group",
        "operationId": "createBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "requestBody": {
          "description": "New billing group object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A name for the billing group"
                  }
                },
                "example": {
                  "name": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "record_type": {
                          "type": "string",
                          "example": "billing_group",
                          "enum": [
                            "billing_group"
                          ],
                          "description": "Identifies the type of the resource."
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the type of resource.",
                          "example": "f5586561-8ff0-4291-a0ac-84fe544797bd"
                        },
                        "organization_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the organization that owns the resource.",
                          "example": "f1486bae-f067-460c-ad43-73a92848f902"
                        },
                        "name": {
                          "type": "string",
                          "format": "string",
                          "description": "A user-specified name for the billing group",
                          "example": "My billing group name"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was created.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was updated.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was removed.",
                          "example": null
                        }
                      },
                      "example": {
                        "record_type": "billing_group",
                        "id": "f5586561-8ff0-4291-a0ac-84fe544797bd",
                        "organization_id": "f1486bae-f067-460c-ad43-73a92848f902",
                        "name": "My billing group name",
                        "created_at": "2019-10-15T10:07:15.527Z",
                        "updated_at": "2019-10-15T10:07:15.527Z",
                        "deleted_at": null
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "required": [
                          "code",
                          "title"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "format": "int"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "description": "JSON pointer (RFC6901) to the offending entity.",
                                "type": "string",
                                "format": "json-pointer"
                              },
                              "parameter": {
                                "description": "Indicates which query parameter caused the error.",
                                "type": "string"
                              }
                            }
                          },
                          "meta": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing_groups/{id}": {
      "delete": {
        "summary": "Delete a billing group",
        "operationId": "deleteBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the billing group",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "record_type": {
                          "type": "string",
                          "example": "billing_group",
                          "enum": [
                            "billing_group"
                          ],
                          "description": "Identifies the type of the resource."
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the type of resource.",
                          "example": "f5586561-8ff0-4291-a0ac-84fe544797bd"
                        },
                        "organization_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the organization that owns the resource.",
                          "example": "f1486bae-f067-460c-ad43-73a92848f902"
                        },
                        "name": {
                          "type": "string",
                          "format": "string",
                          "description": "A user-specified name for the billing group",
                          "example": "My billing group name"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was created.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was updated.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was removed.",
                          "example": null
                        }
                      },
                      "example": {
                        "record_type": "billing_group",
                        "id": "f5586561-8ff0-4291-a0ac-84fe544797bd",
                        "organization_id": "f1486bae-f067-460c-ad43-73a92848f902",
                        "name": "My billing group name",
                        "created_at": "2019-10-15T10:07:15.527Z",
                        "updated_at": "2019-10-15T10:07:15.527Z",
                        "deleted_at": null
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "required": [
                          "code",
                          "title"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "format": "int"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "description": "JSON pointer (RFC6901) to the offending entity.",
                                "type": "string",
                                "format": "json-pointer"
                              },
                              "parameter": {
                                "description": "Indicates which query parameter caused the error.",
                                "type": "string"
                              }
                            }
                          },
                          "meta": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve a billing group",
        "operationId": "retrieveBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the billing group",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "record_type": {
                          "type": "string",
                          "example": "billing_group",
                          "enum": [
                            "billing_group"
                          ],
                          "description": "Identifies the type of the resource."
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the type of resource.",
                          "example": "f5586561-8ff0-4291-a0ac-84fe544797bd"
                        },
                        "organization_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the organization that owns the resource.",
                          "example": "f1486bae-f067-460c-ad43-73a92848f902"
                        },
                        "name": {
                          "type": "string",
                          "format": "string",
                          "description": "A user-specified name for the billing group",
                          "example": "My billing group name"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was created.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was updated.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was removed.",
                          "example": null
                        }
                      },
                      "example": {
                        "record_type": "billing_group",
                        "id": "f5586561-8ff0-4291-a0ac-84fe544797bd",
                        "organization_id": "f1486bae-f067-460c-ad43-73a92848f902",
                        "name": "My billing group name",
                        "created_at": "2019-10-15T10:07:15.527Z",
                        "updated_at": "2019-10-15T10:07:15.527Z",
                        "deleted_at": null
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "required": [
                          "code",
                          "title"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "format": "int"
                          },
                          "title": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "description": "JSON pointer (RFC6901) to the offending entity.",
                                "type": "string",
                                "format": "json-pointer"
                              },
                              "parameter": {
                                "description": "Indicates which query parameter caused the error.",
                                "type": "string"
                              }
                            }
                          },
                          "meta": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a billing group",
        "operationId": "updateBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the billing group",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Update billing group object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A name for the billing group"
                  }
                },
                "example": {
                  "name": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected billing group response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "record_type": {
                          "type": "string",
                          "example": "billing_group",
                          "enum": [
                            "billing_group"
                          ],
                          "description": "Identifies the type of the resource."
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the type of resource.",
                          "example": "f5586561-8ff0-4291-a0ac-84fe544797bd"
                        },
                        "organization_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Identifies the organization that owns the resource.",
                          "example": "f1486bae-f067-460c-ad43-73a92848f902"
                        },
                        "name": {
                          "type": "string",
                          "format": "string",
                          "description": "A user-specified name for the billing group",
                          "example": "My billing group name"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was created.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was updated.",
                          "example": "2019-10-15T10:07:15.527Z"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 formatted date indicating when the resource was removed.",
                          "example": null
                        }
                      },
                      "example": {
                        "record_type": "billing_group",
                        "id": "f5586561-8ff0-4291-a0ac-84fe544797bd",
                        "organization_id": "f1486bae-f067-460c-ad43-73a92848f902",
                        "name": "My billing group name",
                        "created_at": "2019-10-15T10:07:15.527Z",
                        "updated_at": "2019-10-15T10:07:15.527Z",
                        "deleted_at": null
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
[...]
