{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "Telnyx API",
    "description": "SIP trunking, SMS, MMS, Call Control and Telephony Data Services.",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "email": "support@telnyx.com"
    }
  },
  "servers": [
    {
      "url": "https://api.telnyx.com/v2",
      "description": "Version 2.0.0 of the Telnyx API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Messaging Profiles",
      "description": "Messaging profiles"
    },
    {
      "name": "Phone Numbers",
      "description": "Phone numbers"
    },
    {
      "name": "Numbers",
      "description": "Numbers"
    },
    {
      "name": "Number Search",
      "description": "Number search"
    },
    {
      "name": "Number Reservations",
      "description": "Number reservations"
    },
    {
      "name": "Number Orders",
      "description": "Number orders"
    },
    {
      "name": "Messages",
      "description": "Messages"
    },
    {
      "name": "Alphanumeric Sender IDs",
      "description": "Alphanumeric sender ids"
    },
    {
      "name": "Short Codes",
      "description": "Short codes"
    },
    {
      "name": "Public Key",
      "description": "Public Key"
    },
    {
      "name": "Call Commands",
      "description": "Call control command operations"
    },
    {
      "name": "Conferences",
      "description": "Conference operations"
    },
    {
      "name": "Conference Commands",
      "description": "Conference command operations"
    },
    {
      "name": "Debugging",
      "description": "Call control debugging"
    },
    {
      "name": "SIM Cards",
      "description": "SIM Cards operations"
    },
    {
      "name": "Billing Groups",
      "description": "Billing groups operations"
    },
    {
      "name": "IP Connections",
      "description": "IP connection operations"
    },
    {
      "name": "Credential Connections",
      "description": "Credential connection operations"
    },
    {
      "name": "IPs",
      "description": "IP operations"
    },
    {
      "name": "FQDN Connections",
      "description": "FQDN connection operations"
    },
    {
      "name": "Number Order Regulatory Requirements",
      "description": "Number order regulatory requirements"
    },
    {
      "name": "Number Order Documents",
      "description": "Number order documents"
    }
  ],
  "paths": {
    "/messaging_profiles": {
      "get": {
        "summary": "List all messaging profiles",
        "operationId": "listMessagingProfiles",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListMessagingProfilesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a messaging profile",
        "operationId": "createMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "requestBody": {
          "description": "New Messaging Profile object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessagingProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "inboundMessage": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/InboundMessageEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          },
          "deliveryUpdate": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OutboundMessageEvent"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messaging_profiles/{id}": {
      "get": {
        "summary": "Retrieve a messaging profile",
        "operationId": "retrieveMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a messaging profile",
        "operationId": "updateMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "requestBody": {
          "description": "New Messaging Profile object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagingProfileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a messaging profile",
        "operationId": "deleteMessagingProfile",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteMessagingProfileResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_profiles/{id}/phone_numbers": {
      "get": {
        "summary": "List all phone numbers associated with a messaging profile",
        "operationId": "listMessagingProfilePhoneNumbers",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfilePhoneNumbersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_profiles/{id}/short_codes": {
      "get": {
        "summary": "List all short codes associated with a messaging profile",
        "operationId": "listMessagingProfileShortCodes",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfileShortCodesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_profiles/{id}/alphanumeric_sender_ids": {
      "get": {
        "summary": "List all alphanumeric sender IDs associated with a messaging profile",
        "operationId": "listMessagingProfileAlphanumericSenderIds",
        "tags": [
          "Messaging Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "$ref": "#/components/parameters/MessagingProfileId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingProfileAlphanumericSenderIdsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_phone_numbers": {
      "get": {
        "summary": "List all messaging capable phone numbers",
        "operationId": "listMessagingPhoneNumbers",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "filter[messaging_profile_id]",
            "in": "query",
            "description": "Filter by Messaging Profile ID. Use the string `null` for phone numbers without assigned profiles. A synonym for the `/messaging_profiles/{id}/phone_number` endpoint when querying about an extant profile.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_number]",
            "in": "query",
            "description": "A comma separated list of phone numbers to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListMessagingPhoneNumbersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messaging_phone_numbers/{id}": {
      "get": {
        "summary": "Retrieve a messaging phone number",
        "operationId": "retrieveMessagingPhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingPhoneNumberId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingPhoneNumberResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a messaging phone number",
        "operationId": "updateMessagingPhoneNumber",
        "description": "Update the settings for a specific number. To unbind a number from, a profile, set the `messaging_profile_id` to `null` or an empty string.",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MessagingPhoneNumberId"
          }
        ],
        "requestBody": {
          "description": "Messaging Phone Number Update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagingPhoneNumberUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateMessagingPhoneNumberResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/short_codes": {
      "get": {
        "summary": "List all short codes",
        "operationId": "listShortCodes",
        "tags": [
          "Short Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "filter[messaging_profile_id]",
            "in": "query",
            "description": "Filter by Messaging Profile ID. Use the string `null` for phone numbers without assigned profiles. A synonym for the `/messaging_profiles/{id}/short_codes` endpoint when querying about an extant profile.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListShortCodesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/short_codes/{id}": {
      "get": {
        "summary": "Retrieve a short code",
        "operationId": "retrieveShortCode",
        "tags": [
          "Short Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ShortCodeId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveShortCodeResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update short code",
        "operationId": "updateShortCode",
        "description": "Update the settings for a specific short code. To unbind a short code from a profile, set the `messaging_profile_id` to `null` or an empty string.",
        "tags": [
          "Short Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ShortCodeId"
          }
        ],
        "requestBody": {
          "description": "Short code update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShortCodeUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateShortCodeResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/alphanumeric_sender_ids": {
      "post": {
        "summary": "Create an alphanumeric sender ID",
        "operationId": "createAlphanumericSenderId",
        "tags": [
          "Alphanumeric Sender IDs"
        ],
        "requestBody": {
          "description": "New alphanumeric sender ID",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAlphanumericSenderId"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateAlphanumericSenderIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "get": {
        "summary": "List all alphanumeric sender IDs",
        "operationId": "listAlphanumericSenderIds",
        "tags": [
          "Alphanumeric Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "filter[messaging_profile_id]",
            "in": "query",
            "description": "Filter by Messaging Profile ID. Use the string `null` for phone numbers without assigned profiles. A synonym for the `/messaging_profiles/{id}/alphanumeric_sender_ids` endpoint when querying about an extant profile.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListAlphanumericSenderIdsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/alphanumeric_sender_ids/{id}": {
      "get": {
        "summary": "Retrieve an alphanumeric sender ID",
        "operationId": "retrieveAlphanumericSenderId",
        "tags": [
          "Alphanumeric Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AlphanumericSenderId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveAlphanumericSenderIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete an alphanumeric sender ID",
        "operationId": "deleteAlphanumericSenderId",
        "description": "Delete a specific alphanumeric sender ID.",
        "tags": [
          "Alphanumeric Sender IDs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AlphanumericSenderId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteAlphanumericSenderIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/messages": {
      "post": {
        "summary": "Send a message",
        "operationId": "createMessage",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "description": "Message payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "deliveryUpdate": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OutboundMessage"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/alphanumeric_sender_id": {
      "post": {
        "summary": "Send a message using an alphanumeric sender ID",
        "operationId": "createAlphanumericSenderIdMessage",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "description": "Message payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAlphanumericSenderIdMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "deliveryUpdate": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OutboundMessage"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/number_pool": {
      "post": {
        "summary": "Send a message using Number Pool",
        "operationId": "createNumberPoolMessage",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "description": "Message payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewNumberPoolMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        },
        "callbacks": {
          "deliveryUpdate": {
            "{$request.body#/webhook_url}": {
              "post": {
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/OutboundMessage"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "The server must return an HTTP 200, otherwise we will reattempt delivery at the failover webhook URL."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "summary": "Retrieve a message",
        "operationId": "retrieveMessage",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the message",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/public_key": {
      "get": {
        "summary": "Retrieve public key",
        "operationId": "retrievePublicKey",
        "tags": [
          "Public Key"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PublicKeyResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/answer": {
      "post": {
        "summary": "Answer call",
        "description": "Answer an incoming call.\n\n\n**Expected Webhooks:**\n- [Call answered](/docs/v1/call-control/Call%20Webhooks#call-answered)\n",
        "operationId": "CallControlAnswer",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Answer call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/bridge": {
      "post": {
        "summary": "Bridge calls",
        "description": "Bridge two call control calls.\n\n\n**Expected Webhooks:**\n- [Call bridged](/docs/v1/call-control/Call%20Webhooks#call-bridged) for Leg A\n- [Call bridged](/docs/v1/call-control/Call%20Webhooks#call-bridged) for Leg B\n",
        "operationId": "CallControlBridge",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Bridge call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BridgeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/fork_start": {
      "post": {
        "summary": "Forking start",
        "description": "Call forking allows you to stream the media from a call to a specific target in realtime. \nThis stream can be used to enable realtime audio analysis in support of a \nvariety of use cases, including fraud detection, or the creation of AI-generated audio responses. \nRequests must specify either the \"target\" attribute or the \"rx\" and \"tx\" attributes.\n\n**Expected Webhooks:**\n\nThere are currently no webhooks associated with the Forking start command.\n\n\n**Simple Telnyx RTP Encapsulation Protocol (STREP)**\n\n*Note: This header/encapsulation is not used when the \"rx\" and \"tx\"\nparameters have been specified; it only applies when media is forked\nusing the \"target\" attribute.*\n\nIf the destination for forked media is specified using the \"target\"\nattribute, the RTP will be encapsulated in an extra Telnyx protocol,\nwhich adds a 24 byte header to the RTP payload in each packet. The STREP\nheader includes the Call Control `call_leg_id` for stream\nidentification, along with bits that represent the direction (inbound or\noutbound) of the media. This 24-byte header sits between the UDP header\nand the RTP header.\n\nThe STREP header makes it possible to fork RTP for multiple calls (or\ntwo RTP streams for the same call) to the same IP:port, where the\nstreams can be demultiplexed by your application using the information\nin the header. Of course, it's still possible to ignore this header\ncompletely, for example, if sending forked media for different calls to\ndifferent ports or IP addresses. In this case, simply strip 24 bytes\n(or use the second byte to find the header length) from the received UDP\npayload to get the RTP (RTP header and payload).\n\n```\nSTREP Specification\n\n  0                   1                   2                   3\n  0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |1 1|Version|L|D|    HeaderLen  |  reserved (2 bytes)           |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |       reserved (4 bytes, for UDP ports or anything else)      |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n |               The call_leg_id                                 |\n |                   from Call Control                           |\n |                       (128 bits / 16 bytes)                   |\n |                           (this is binary data)               |\n +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+\n\n 11\n   Static bits 11, always set to 11, so that we humans can easily\n   visually distinguish forked media from RTP (10) and T.38 media (usually 00)\n   and SIP (which begins with a capital letter, so begins with bits 01)\n   This is a magic number.\n\n Version\n   Four bits to indicate the version number of the protocol, starting at 0001.\n\n L\n   One bit to represent the leg of the call (A or B).\n   0 represents the A (first) leg of the call.\n   1 represents the B (second) leg of the call.\n\n D\n   One bit to represent the direction of this RTP stream.\n   0 represents media received by Telnyx.\n   1 represents media transmitted by Telnyx.\n\n HeaderLen (1 byte)\n   The length of the header in bytes.\n   Note that this value does not include the length of the payload. The total\n   size of the RTP can be calculated by subtracting the HeaderLen from the UDP\n   length (minus 8 for the UDP header).\n   In version 1, this value will always be 24.\n\n Reserved (6 bytes)\n   Reserved for future use and to make sure that the header is a multiple of 32 bits\n\n Call Leg ID\n   A 128-bit identifier for the call leg.\n   This is the call_leg_id from Call Control.\n```\n",
        "operationId": "CallControlForkStart",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Fork media request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartForkingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/fork_stop": {
      "post": {
        "summary": "Forking stop",
        "description": "Stop forking a call.\n\n**Expected Webhooks:**\n\nThere are currently no webhooks associated with the Forking start command.\n",
        "operationId": "CallControlForkStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Stop forking media request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopForkingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/gather_using_audio": {
      "post": {
        "summary": "Gather using audio",
        "description": "The gather using audio command enables you to build interactive menus by playing back an audio file on the call until the required DTMF signals are gathered.\nYou can pass a list of valid digits along with an 'invalid_audio_url', which will be played back at the beginning of each prompt.\nPlayback will be interrupted when a DTMF signal is received.\n\n**Expected Webhooks:**\n- [Playback started](/docs/v1/call-control/Call%20Webhooks#playback-started)\n- [Playback ended](/docs/v1/call-control/Call%20Webhooks#playback-ended)\n- [DTMF](/docs/v1/call-control/Call%20Webhooks#dtmf) (you may receive many of these webhooks)\n- [Gather ended](/docs/v1/call-control/Call%20Webhooks#gather-ended)\n",
        "operationId": "CallControlGatherUsingAudio",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Gather using audio request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatherUsingAudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/gather_using_speak": {
      "post": {
        "summary": "Gather using speak",
        "description": "The gather using speak command enables you to build interactive menus by converting text to speech and play it back on the call until the required DTMF signals are gathered.\nYou can pass a list of valid digits along with an 'invalid_payload', which will be played back at the beginning of each prompt.\nSpeech will be interrupted when a DTMF signal is received.\n\n**Expected Webhooks:**\n- [DTMF](/docs/v1/call-control/Call%20Webhooks#dtmf) (you may receive many of these webhooks)\n- [Gather ended](/docs/v1/call-control/Call%20Webhooks#gather-ended)\n",
        "operationId": "CallControlGatherUsingSpeak",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Gather using speak request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatherUsingSpeakRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/hangup": {
      "post": {
        "summary": "Hangup call",
        "description": "**Expected Webhooks:**\r\n- [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup)\r\n- [Recording saved](/docs/v1/call-control/Call%20Webhooks#recording-saved) (applies only if a call is being recorded)\r\n",
        "operationId": "CallControlHangup",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Hangup request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HangupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/reject": {
      "post": {
        "summary": "Reject call",
        "description": "Reject an incoming call\r\n\r\n**Expected Webhooks:**\r\n- [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup)\r\n",
        "operationId": "CallControlReject",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Reject request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/playback_start": {
      "post": {
        "summary": "Play audio URL",
        "description": "Play an audio file on the call. If multiple play audio commands are consecutively issued,\nthe audio files will be placed in a queue awaiting playback.\n\n\n*Notes:*\n* *when 'overlay' is enabled, 'loop' is limited to 1, and 'target_legs' is limited to 'self'.*\n* *A customer cannot Play Audio with overlay=true unless there is a Play Audio with overlay=false actively playing.*\n\n**Expected Webhooks:**\n- [Playback started](/docs/v1/call-control/Call%20Webhooks#playback-started)\n- [Playback ended](/docs/v1/call-control/Call%20Webhooks#playback-ended)\n",
        "operationId": "CallControlPlaybackStart",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Play audio URL request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayAudioUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/playback_stop": {
      "post": {
        "summary": "Stop audio playback",
        "description": "Stops audio being played on the call.\n\n**Expected Webhooks:**\n- Either [Playback ended](/docs/v1/call-control/Call%20Webhooks#playback-ended) or [Speak ended](/docs/v1/call-control/Call%20Webhooks#speak-ended)\n\n\n\n",
        "operationId": "CallControlPlaybackStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Stop audio playback request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaybackStopRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/record_start": {
      "post": {
        "summary": "Recording start",
        "description": "Start recording the call. Recording will stop on call hang-up, or can be initiated via the Stop Recording command.\n\n**Expected Webhooks:**\nThere are no webhooks associated with this Command.\n\n",
        "operationId": "CallControlRecordStart",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Start recording audio request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartRecordingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/record_stop": {
      "post": {
        "summary": "Recording stop",
        "description": "Stop recording the call.\n\n**Expected Webhooks:**\n- [Recording saved](/docs/v1/call-control/Call%20Webhooks#recording-saved)\n",
        "operationId": "CallControlRecordStop",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Answer call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopRecordingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/send_dtmf": {
      "post": {
        "summary": "Send DTMF",
        "description": "Sends DTMF tones from this leg. DTMF tones will be heard by the other end of the call.\n\n**Expected Webhooks:**\n\nThere are no webhooks associated with this command.\n",
        "operationId": "CallControlSendDTMF",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Send DTMF request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDTMFRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/speak": {
      "post": {
        "summary": "Speak text",
        "description": "Convert text to speech and play it back on the call.  If multiple speak text commands are issued consecutively, the audio files will be placed in a queue awaiting playback.\n\n**Expected Webhooks:**\n- [Speak started](/docs/v1/call-control/Call%20Webhooks#speak-started)\n- [Speak ended](/docs/v1/call-control/Call%20Webhooks#speak-ended)\n",
        "operationId": "CallControlSpeak",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Speak request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeakRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/actions/transfer": {
      "post": {
        "summary": "Transfer call",
        "description": "Transfer a call to a new destination. If the transfer is unsuccessful, a 'call_hangup' webhook will be sent indicating that the transfer could not be completed. The original call will remain active and may be issued additional commands, potentially transfering the call to an alternate destination.\n\n**Expected Webhooks:**\n- [Call initiated](docs/v1/call-control/Call%20Webhooks#call-initiated)\n- [Call bridged](docs/v1/call-control/Call%20Webhooks#call-bridged) to Leg B\n- You will receive either a [Call answered](/docs/v1/call-control/Call%20Webhooks#call-answered) webhook or a [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup) webhook.\n",
        "operationId": "CallControlTransfer",
        "tags": [
          "Call Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "requestBody": {
          "description": "Transfer call request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallControlCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls": {
      "post": {
        "summary": "Dial",
        "description": "Dial a number from a given connection. A successful response will include a `call_leg_id` which can be used to correlate the command with subsequent webhooks.\n\n**Expected Webhooks:**\n\n- [Call initiated](/docs/v1/call-control/Call%20Webhooks#call-initiated)\n- You will receive either a [Call answered](/docs/v1/call-control/Call%20Webhooks#call-answered) webhook or a [Call hangup](/docs/v1/call-control/Call%20Webhooks#call-hangup) webhook.\n\n",
        "operationId": "CallControlDial",
        "tags": [
          "Call Commands"
        ],
        "requestBody": {
          "description": "Dial request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}": {
      "get": {
        "summary": "Retrieve call status",
        "description": "Returns the status of a call.",
        "operationId": "RetrieveCallStatus",
        "tags": [
          "Call Information"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/calls/{call_control_id}/status": {
      "get": {
        "summary": "Retrieve the call status",
        "description": "Returns the status of a call.",
        "operationId": "CallControlStatus",
        "tags": [
          "Call Information"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CallControlId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveCallStatusResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/call_events": {
      "get": {
        "summary": "List all call events",
        "description": "Lists all events for a given call.\n\n**Note**: input either a `call_leg_id` or a `call_session_id`. If a request has both, it will only filter by `call_leg_id`.\n",
        "operationId": "CallControlDebuggingEventList",
        "tags": [
          "Debugging"
        ],
        "parameters": [
          {
            "name": "filter[call_leg_id]",
            "in": "query",
            "description": "The unique identifier of an individual call leg.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filter[call_session_id]",
            "in": "query",
            "description": "The unique identifier of the call control session. A session may include multiple call leg events.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListCallEventsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences": {
      "post": {
        "summary": "Create Conference",
        "description": "Creates a conference from an existing call leg using a call_control_id and a conference name. Upon creating the conference, the call will be automatically bridged to the conference.",
        "operationId": "CreateConference",
        "tags": [
          "Conference Commands"
        ],
        "requestBody": {
          "description": "Create a conference",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateConferenceResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "get": {
        "description": "Lists conferences. Conferences are created on demand, and will expire after all participants have left the conference or after 4 hours regardless of the number of active participants.",
        "summary": "List all conferences",
        "operationId": "GetConferences",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "description": "If present, conferences will be filtered to those with a matching `name` attribute. Matching is case-sensitive",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListConferencesResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences/{id}/actions/join": {
      "post": {
        "summary": "Join a conference",
        "description": "Joins an existing call_leg to a conference. Issue the Join Conference command with the conference ID in the path and the call_control_id of the leg you wish to join to the conference as an attribute.",
        "operationId": "JoinConference",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConferenceId"
          }
        ],
        "requestBody": {
          "description": "Join Conference object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinConferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConferenceCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences/{id}/actions/mute": {
      "post": {
        "summary": "Mute a conference participant",
        "description": "Mute a list of participants in a conference call",
        "operationId": "MuteConference",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConferenceId"
          }
        ],
        "requestBody": {
          "description": "Mute participants Conference object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConferenceMuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConferenceCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences/{id}/actions/unmute": {
      "post": {
        "summary": "Unmute a conference participant",
        "description": "Unmute a list of participants in a conference call",
        "operationId": "UnmuteConference",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConferenceId"
          }
        ],
        "requestBody": {
          "description": "Unute participants Conference object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConferenceMuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConferenceCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences/{id}/actions/hold": {
      "post": {
        "summary": "Hold a conference participant",
        "description": "Hold a list of participants in a conference call",
        "operationId": "HoldConference",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConferenceId"
          }
        ],
        "requestBody": {
          "description": "Hold participants Conference object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConferenceHoldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConferenceCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/conferences/{id}/actions/unhold": {
      "post": {
        "summary": "Unhold a conference participant",
        "description": "Unhold a list of participants in a conference call",
        "operationId": "UnholdConference",
        "tags": [
          "Conference Commands"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConferenceId"
          }
        ],
        "requestBody": {
          "description": "Hold participants Conference object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConferenceHoldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConferenceCommandResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/sim_cards": {
      "get": {
        "summary": "Get all SIM cards",
        "description": "Get all SIM cards belonging to the user that match the given filters.",
        "operationId": "SimCardsGet",
        "tags": [
          "SIM Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "filter[tags]",
            "description": "A list of SIM card tags to filter on.<br/><br/>\nIf the SIM card contains <b><i>all</i></b> of the given <code>tags</code> they will be found.<br/><br/>\nFor example, if the SIM cards have the following tags: <ul>\n  <li><code>['customers', 'staff', 'test']</code>\n  <li><code>['test']</code></li>\n  <li><code>['customers']</code></li>\n</ul>\nSearching for <code>['customers', 'test']</code> returns only the first because it's the only one with both tags.<br/> Searching for <code>test</code> returns the first two SIMs, because both of them have such tag.<br/> Searching for <code>customers</code> returns the first and last SIMs.<br/>\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "personal",
                "customers",
                "active-customers"
              ]
            }
          },
          {
            "name": "filter[iccid]",
            "description": "A search string to partially match for the SIM card's ICCID.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "89310410106543789301"
            }
          },
          {
            "name": "filter[sim_card_group_id]",
            "description": "A valid SIM card group ID.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchSimCardsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/sim_cards/{id}": {
      "get": {
        "summary": "Get SIM card",
        "description": "Returns the details regarding a specific SIM card.",
        "operationId": "SimCardGet",
        "tags": [
          "SIM Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WirelessId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetSimCardResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a SIM card",
        "description": "Updates a SIM card's group and tags",
        "operationId": "SimCardUpdate",
        "tags": [
          "SIM Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WirelessId"
          },
          {
            "name": "tags",
            "description": "The list of tags for the given SIM card.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "personal",
                "customers",
                "active-customers"
              ]
            }
          },
          {
            "name": "sim_card_group_id",
            "description": "The SIM card group associated with the SIM card.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
            }
          }
        ],
        "requestBody": {
          "description": "Updated sim card",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIMCardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateSimCardResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/sim_cards/{id}/actions/activate": {
      "post": {
        "summary": "Request a SIM card activation",
        "description": "The SIM card will be able to connect to the network once the activation is complete, thus making it possible to consume data with it.<br/>\nIn order for a SIM card to be activated, it must be be associated with a SIM card group that has a data plan.<br/>\nTransitioning to the active state may take a period of time. Until the transition is completed, the SIM card status will be <code>activating</code>.\n",
        "operationId": "SimCardActivate",
        "tags": [
          "SIM Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WirelessId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/ActivateSimCardResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/sim_cards/{id}/actions/deactivate": {
      "post": {
        "summary": "Request a SIM card deactivation",
        "description": "The SIM card won't be able to connect to the network after the deactivation is completed, thus making it impossible consume data with it.<br/>\nTransitioning to the inactive state may take a period of time. Until the transition is completed, the SIM card status will be <code>inactivating</code>.\n",
        "operationId": "SimCardDeactivate",
        "tags": [
          "SIM Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WirelessId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/DeactivateSimCardResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/actions/register/sim_cards": {
      "post": {
        "summary": "Register SIM cards",
        "description": "Register the SIM cards associated with the provided registration codes to the current user's account.<br/><br/>\nIf <code>sim_card_group_id</code> is provided, the SIM cards will be associated with that group. Otherwise, the default group for the current user, which is associated with the default free data plan, will be used.<br/><br/>\n",
        "operationId": "SimCardRegister",
        "tags": [
          "SIM Cards"
        ],
        "parameters": [
          {
            "name": "registration_codes",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "0000000001",
                "0000000002",
                "0000000003"
              ]
            }
          },
          {
            "name": "sim_card_group_id",
            "description": "The ID of the SIM card group to which attach the SIM cards.",
            "in": "body",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a09cdc3-8948-47f0-aa62-74ac943d6c58"
            }
          },
          {
            "name": "tags",
            "description": "The list of tags for SIM cards.",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "personal",
                "customers",
                "active-customers"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RegisterSimCardsResponse"
          }
        }
      }
    },
    "/phone_numbers/{id}/messaging": {
      "get": {
        "summary": "Retrieve the messaging settings for a phone number",
        "operationId": "retrievePhoneNumberMessagingSettings",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uniquely identifies the resource or object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingSettingsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update the messaging settings for a phone number",
        "operationId": "updatePhoneNumberMessagingSettings",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uniquely identifies the resource or object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated messaging settings for the phone number",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessagingPhoneNumberUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveMessagingSettingsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/phone_numbers/messaging": {
      "get": {
        "summary": "List all phone numbers' messaging settings",
        "operationId": "listPhoneNumberMessagingSettings",
        "tags": [
          "Phone Numbers"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListMessagingSettingsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/billing_groups": {
      "get": {
        "summary": "List all billing groups",
        "operationId": "listBillingGroups",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBillingGroupsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a billing group",
        "operationId": "createBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "requestBody": {
          "description": "New billing group object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBillingGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/billing_groups/{id}": {
      "get": {
        "summary": "Retrieve a billing group",
        "operationId": "retrieveBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillingGroupId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update a billing group",
        "operationId": "updateBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillingGroupId"
          }
        ],
        "requestBody": {
          "description": "Update billing group object",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete a billing group",
        "operationId": "deleteBillingGroup",
        "tags": [
          "Billing Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BillingGroupId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeleteBillingGroupResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/ip_connections": {
      "get": {
        "description": "Returns a list of your connections.",
        "summary": "List all connections",
        "operationId": "findConnections",
        "tags": [
          "IP Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterConnectionName"
          },
          {
            "$ref": "#/components/parameters/Sort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAllIPConnectionResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "description": "Creates an IP connection.",
        "summary": "Creates an IP connection",
        "operationId": "CreateIPConnection",
        "tags": [
          "IP Connections"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during IP connection creation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPConnectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPConnectionResponse"
          },
          "422": {
            "description": "Bad request"
          }
        }
      }
    },
    "/ip_connections/{id}": {
      "get": {
        "description": "Retrieves the details of an existing ip connection.",
        "summary": "Retrieve a connection",
        "operationId": "getIPConnection",
        "tags": [
          "IP Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "IP Connection ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPConnectionResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      },
      "patch": {
        "description": "Updates settings of an existing IP connection.",
        "summary": "Updates an IP connection",
        "operationId": "UpdateIPConnection",
        "tags": [
          "IP Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the type of resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters that can be updated in a IP connection",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPConnectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPConnectionResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      },
      "delete": {
        "description": "Deletes an existing IP connection.",
        "summary": "Deletes an IP connection",
        "operationId": "DeleteIPConnection",
        "tags": [
          "IP Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the type of resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPConnectionResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      }
    },
    "/credential_connections/{id}": {
      "get": {
        "description": "Retrieves the details of an existing credential connection.",
        "summary": "Retrieve a connection",
        "operationId": "getCredentialConnection",
        "tags": [
          "Credential Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CredentialConnectionResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "patch": {
        "description": "Updates settings of an existing credential connection.",
        "summary": "Updates a credential connection",
        "operationId": "UpdateCredentialConnection",
        "tags": [
          "Credential Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters that can be updated in a credential connection",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialConnectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CredentialConnectionResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      },
      "delete": {
        "description": "Deletes an existing credential connection.",
        "summary": "Deletes a credential connection",
        "operationId": "DeleteCredentialConnection",
        "tags": [
          "Credential Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifies the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CredentialConnectionResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      }
    },
    "/credential_connections": {
      "get": {
        "description": "Returns a list of your credential connections.",
        "summary": "List all credential connections",
        "operationId": "findCredentialConnections",
        "tags": [
          "Credential Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterConnectionName"
          },
          {
            "$ref": "#/components/parameters/Sort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAllCredentialConnectionResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "description": "Creates a credential connection.",
        "summary": "Creates a credential connection",
        "operationId": "CreateCredentialConnection",
        "tags": [
          "Credential Connections"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during credential connection creation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialConnectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CredentialConnectionResponse"
          },
          "422": {
            "description": "Bad request"
          }
        }
      }
    },
    "/ips": {
      "get": {
        "summary": "Get all IPs",
        "description": "Get all IPs belonging to the user that match the given filters.",
        "operationId": "IPsGet",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "filter[connection_id]",
            "description": "ID of the IPConnection to which this IP should be attached.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[ip_address]",
            "description": "IP adddress represented by this resource.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "192.168.0.0"
            }
          },
          {
            "name": "filter[port]",
            "description": "Port to use when connecting to this IP.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5060
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPSearchSuccessfulResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "description": "Create a new IP object.",
        "summary": "Create an IP",
        "operationId": "addIP",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPWritableSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPSuccessfulResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/ips/{id}": {
      "get": {
        "description": "Return the details regarding a specific IP.",
        "summary": "Get IP",
        "operationId": "getIPDetails",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IPId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPSuccessfulResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "description": "Update the details of a specific IP.",
        "summary": "Update IP",
        "operationId": "updateIP",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IPId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IPWritableSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPSuccessfulResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "description": "Delete an IP.",
        "summary": "Delete an IP",
        "operationId": "deleteIP",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IPId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IPSuccessfulResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/fqdn_connections": {
      "get": {
        "description": "Returns a list of your FQDN connections.",
        "summary": "List all FQDN connections",
        "operationId": "findFQDNConnections",
        "tags": [
          "FQDN Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterConnectionName"
          },
          {
            "$ref": "#/components/parameters/Sort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAllFQDNConnectionResponse"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "post": {
        "description": "Creates a FQDN connection.",
        "summary": "Creates an FQDN connection",
        "operationId": "CreateFQDNConnection",
        "tags": [
          "FQDN Connections"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Parameters that can be defined during FQDN connection creation",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FQDNConnectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/FQDNConnectionResponse"
          },
          "422": {
            "description": "Bad request"
          }
        }
      }
    },
    "/fqdn_connections/{id}": {
      "get": {
        "description": "Retrieves the details of an existing FQDN connection.",
        "summary": "Retrieve a connection",
        "operationId": "getFQDNConnection",
        "tags": [
          "FQDN Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "FQDN Connection ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FQDNConnectionResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      },
      "patch": {
        "description": "Updates settings of an existing FQDN connection.",
        "summary": "Update a FQDN connection",
        "operationId": "UpdateFQDNConnection",
        "tags": [
          "FQDN Connections"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "FQDN Connection ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters that can be updated in a FQDN connection",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FQDNConnectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/FQDNConnectionResponse"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Bad request"
          }
        }
      },
      "delete": {
              "description": "Deletes an FQDN connection.",
              "summary": "Deletes an FQDN connection",
              "operationId": "DeleteFQDNConnection",
              "tags": [
                  "FQDN Connections"
              ],
              "parameters": [
                  {
                      "name": "id",
                      "in": "path",
                      "description": "FQDN Connection ID",
                      "required": true,
                      "schema": {
                          "type": "string"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "$ref": "#/components/responses/FQDNConnectionResponse"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "404": {
                      "description": "Resource not found"
                  },
                  "422": {
                      "description": "Bad request"
                  }
              }
       }
    },
    "/number_reservations": {
      "get": {
        "summary": "Retrieve multiple Number Reservations",
        "description": "Gets a paginated list of Phone Number Reservations",
        "operationId": "listNumberReservations",
        "tags": [
          "Number Reservations"
        ],
        "parameters": [
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter number reservations by status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_at][gt]",
            "in": "query",
            "description": "Filter number reservations later than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_at][lt]",
            "in": "query",
            "description": "Filter number reservations earlier than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_numbers.phone_number]",
            "in": "query",
            "description": "Filter number reservations having these phone numbers",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customer_reference]",
            "in": "query",
            "description": "Filter number reservations via the customer reference set",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListNumberReservationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a Phone Number Reservation",
        "description": "Creates a Phone Number Reservation for multiple numbers",
        "operationId": "createNumberReservations",
        "tags": [
          "Number Reservations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberReservation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateNumberReservationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/number_reservations/{number_reservation_id}": {
      "get": {
        "summary": "Retrieve a Single Phone Number Reservation",
        "description": "Gets a single Phone Number Reservation",
        "operationId": "retrieveNumberReservation",
        "tags": [
          "Number Reservations"
        ],
        "parameters": [
          {
            "name": "number_reservation_id",
            "in": "path",
            "description": "The number reservation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveNumberReservationResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/number_reservations/{number_reservation_id}/actions/extend": {
      "post": {
        "summary": "Extend a Phone Number Reservation",
        "description": "Extends reservation expiry time on all phone numbers",
        "operationId": "extendNumberReservationExpiryTime",
        "tags": [
          "Number Reservations"
        ],
        "parameters": [
          {
            "name": "number_reservation_id",
            "in": "path",
            "description": "The number reservation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveNumberReservationResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/number_orders": {
      "get": {
        "summary": "Retrieve multiple Number Orders",
        "description": "Retrieve a paginated list of Number Orders",
        "operationId": "listNumberOrders",
        "tags": [
          "Number Orders"
        ],
        "parameters": [
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter number orders by status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_at][gt]",
            "in": "query",
            "description": "Filter number orders later than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[created_at][lt]",
            "in": "query",
            "description": "Filter number orders earlier than this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone_numbers.phone_number]",
            "in": "query",
            "description": "Filter number orders having these phone numbers",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[customer_reference]",
            "in": "query",
            "description": "Filter number orders via the customer reference set",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[requirements_met]",
            "in": "query",
            "description": "Filter number orders by requirements met",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListNumberOrdersResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create Phone Number Order",
        "description": "Creates a Phone Number Order",
        "operationId": "createNumberOrder",
        "tags": [
          "Number Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateNumberOrderResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      }
    },
    "/number_orders/{number_order_id}": {
      "get": {
        "summary": "Retrieve a single phone number order",
        "description": "Retrieve an existing single phone number order",
        "operationId": "retrieveNumberOrder",
        "tags": [
          "Number Orders"
        ],
        "parameters": [
          {
            "name": "number_order_id",
            "in": "path",
            "description": "The number order id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RetrieveNumberOrderResponse"
          },
          "default": {
            "$ref": "#/components/responses/GenericErrorResponse"
          }
        }
      },
      "patch": {
        "summary": "Update phone number order",
        "description": "Updates a Phone Number Order",
        "operationId": "updateNumberOrder",
        "tags": [
          "Number Orders"
        ],
        "parameters": [
          {
            "name": "number_order_id",
            "in": "path",
            "description": "The number order id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumberOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateNumberOrderResponse"
          },
[...]
